Repository kiesraad/abacus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kiesraad/abacus-developers, @ring-ring-ring, @marjoleintamis, @jorisleker

.github/CODEOWNERS:

*                 @kiesraad/abacus-developers
CLA.md            @kiesraad/abacus-developers @ring-ring-ring
contributors.yml  @kiesraad/abacus-developers @ring-ring-ring
LICENSE           @kiesraad/abacus-developers @ring-ring-ring
README.md         @kiesraad/abacus-developers @marjoleintamis
/documentatie/    @kiesraad/abacus-developers @marjoleintamis
/frontend/        @kiesraad/abacus-developers @jorisleker

stub commit
  frontend/app/component/form/pollingstation_save/PollingStationSaveForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/component/pollingstation/utils.ts
  frontend/app/module/input/PollingStation/PollingStationSaveFormPage.tsx
  frontend/app/routes.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/ui/ProgressList/ProgressList.tsx
  frontend/lib/ui/StatusList/StatusList.module.css
  frontend/lib/ui/StatusList/StatusList.stories.tsx
  frontend/lib/ui/StatusList/StatusList.test.tsx
  frontend/lib/ui/StatusList/StatusList.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/util/Util.tsx
Owners: @kiesraad/abacus-developers, @jorisleker

Cleaned up some unused code Improved imports Added missing color variables
  frontend/lib/ui/Alert/Alert.stories.tsx
  frontend/lib/ui/Alert/Alert.tsx
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/Button/Button.stories.tsx
  frontend/lib/ui/Button/Button.tsx
  frontend/lib/ui/Icon/Icon.stories.tsx
  frontend/lib/ui/Icon/Icon.tsx
  frontend/lib/ui/IconButton/IconButton.module.css
  frontend/lib/ui/IconButton/IconButton.stories.tsx
  frontend/lib/ui/IconButton/IconButton.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/ProgressList/ProgressList.module.css
  frontend/lib/ui/ProgressList/ProgressList.tsx
  frontend/lib/ui/Spinner/Spinner.stories.tsx
  frontend/lib/ui/Spinner/Spinner.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/style/form.less
  frontend/lib/ui/style/table.css
  frontend/lib/ui/style/variables.css
  frontend/lib/ui/util/Util.tsx
  frontend/lib/util/hook/useNumericParam.ts
Owners: @kiesraad/abacus-developers, @jorisleker

Simplify POST API requests for data entry (#296)
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/useDifferences.ts
  frontend/lib/api/form/pollingstation/usePoliticalGroups.ts
  frontend/lib/api/form/pollingstation/useRecounted.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
  frontend/lib/api/index.ts
  frontend/lib/api/usePollingStationDataEntry.test.ts
  frontend/lib/api/usePollingStationDataEntry.ts
Owners: @kiesraad/abacus-developers, @jorisleker

Refactor duplicate empty data entry request data
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/test/unit/form.ts
Owners: @kiesraad/abacus-developers, @jorisleker

Expand d2d tests to test save API call
  frontend/e2e-tests/dom-to-db-tests/abort-data-entry.e2e.ts
Owners: @kiesraad/abacus-developers, @jorisleker

Implement save button for abort data entry modal
  frontend/app/module/input/PollingStation/AbortDataEntryControl.test.tsx
  frontend/app/module/input/PollingStation/AbortDataEntryControl.tsx
Owners: @kiesraad/abacus-developers, @jorisleker

Prevent blocking modal after deleting data entry
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/module/input/PollingStation/PollingStation.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/useDifferences.ts
  frontend/lib/api/form/pollingstation/usePoliticalGroups.ts
  frontend/lib/api/form/pollingstation/useRecounted.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
Owners: @kiesraad/abacus-developers, @jorisleker

Implement Model Na 31-2 input and styling
  backend/.gitignore
  backend/src/election/mod.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/pdf_gen/world.rs
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/fonts/DM_Sans/DMSans-Bold.ttf
  backend/templates/fonts/DM_Sans/DMSans-BoldItalic.ttf
  backend/templates/fonts/DM_Sans/DMSans-ExtraBold.ttf
  backend/templates/fonts/DM_Sans/DMSans-ExtraBoldItalic.ttf
  backend/templates/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf
  backend/templates/fonts/DM_Sans/DMSans-Italic.ttf
  backend/templates/fonts/DM_Sans/DMSans-Regular.ttf
  backend/templates/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf
  backend/templates/fonts/Geist_Mono/GeistMonoVF.ttf
  backend/templates/fonts/Space_Grotesk/LICENSE
  backend/templates/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-2.typ
Owners: @kiesraad/abacus-developers, @ring-ring-ring

Apply suggestions from code review
  documentatie/use-cases/GSB-hoogover.md
Owners: @kiesraad/abacus-developers, @marjoleintamis

Update documentatie/use-cases/GSB-hoogover.md
  documentatie/use-cases/GSB-hoogover.md
Owners: @kiesraad/abacus-developers, @marjoleintamis

adds d2d data entry test: recount and differences; some refactorings
  frontend/e2e-tests/dom-to-db-tests/abort-data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/e2e-test-utils.ts
  frontend/e2e-tests/page-objects/input/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/input/InputPgObj.ts
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
Owners: @kiesraad/abacus-developers, @jorisleker
