Repository kiesraad/abacus, pull requests merged in 2024-09, with the labels that each got.

#281 Update data entry forms flowchart
  documentatie/flowcharts/data-entry-forms.md
Labels: documentation

#284 Some design fixes
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/api/polling_station/usePollingStation.ts
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/arrowBlockUp.svg
  frontend/lib/icon/svg/cornerDownLeft.svg
  frontend/lib/ui/BottomBar/BottomBar.e2e.ts
  frontend/lib/ui/BottomBar/BottomBar.module.css
  frontend/lib/ui/BottomBar/BottomBar.stories.tsx
  frontend/lib/ui/BottomBar/BottomBar.test.tsx
  frontend/lib/ui/BottomBar/BottomBar.tsx
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/KeyboardKeys/KeyboardKeys.module.css
  frontend/lib/ui/KeyboardKeys/KeyboardKeys.tsx
  frontend/lib/ui/ProgressList/ProgressList.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/style/table.css
  frontend/lib/ui/ui.types.d.ts
  frontend/lib/util/strings.test.ts
  frontend/lib/util/strings.ts
Labels: frontend, design debt

#294 Simplify router usage in frontend tests
  frontend/app/module/input/PollingStation/PollingStation.test.tsx
  frontend/app/module/input/page/FinaliseElectionPage.test.tsx
  frontend/app/test/unit/test-utils.ts
Labels: frontend

#266 Implement validation copy using unique codes
  backend/fixtures/polling_stations.sql
  backend/openapi.json
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/module/input/PollingStation/PollingStation.test.tsx
  frontend/e2e-tests/dom-to-db-tests/abort-data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/DifferencesPgObj.ts
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/ui/BottomBar/BottomBar.module.css
  frontend/lib/ui/Feedback/Feedback.module.css
  frontend/lib/ui/Feedback/Feedback.stories.tsx
  frontend/lib/ui/Feedback/Feedback.test.tsx
  frontend/lib/ui/Feedback/Feedback.tsx
  frontend/lib/ui/Feedback/Feedback.types.tsx
  frontend/lib/ui/Feedback/index.ts
  frontend/lib/ui/FormField/FormField.stories.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/ui.types.d.ts
Labels: backend, frontend

#300 Remove tooltip from frontend
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/ui/FormField/FormField.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/Tooltip/Tooltip.module.css
  frontend/lib/ui/Tooltip/Tooltip.stories.tsx
  frontend/lib/ui/Tooltip/Tooltip.tsx
  frontend/lib/ui/Tooltip/index.ts
  frontend/lib/ui/Tooltip/useTooltip.ts
  frontend/lib/ui/index.ts
  frontend/lib/util/hook/usePositiveNumberInputMask.test.ts
Labels: frontend

#296 Simplify POST API requests for data entry
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/useDifferences.ts
  frontend/lib/api/form/pollingstation/usePoliticalGroups.ts
  frontend/lib/api/form/pollingstation/useRecounted.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
  frontend/lib/api/index.ts
  frontend/lib/api/usePollingStationDataEntry.test.ts
  frontend/lib/api/usePollingStationDataEntry.ts
Labels: frontend

#293 Use cases toegevoegd, markdown gefixt
  documentatie/use-cases/GSB-gebruikersdoelen.md
  documentatie/use-cases/GSB-hoogover.md
  documentatie/use-cases/GSB-subfuncties.md
  documentatie/use-cases/GSB-validatieregels-plausibiliteitschecks.md
  documentatie/use-cases/README-use-cases.md
  documentatie/use-cases/README.md
  documentatie/use-cases/autorisatiematrix.md
  documentatie/use-cases/template-use-case.md
  documentatie/use-cases/uiterste-use-cases.md
Labels: documentation

#303 Some code cleanup
  frontend/app/component/form/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/login/LoginForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.module.css
  frontend/app/component/navbar/NavBar.module.css
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/user/page/UserHomePage.tsx
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/Alert/Alert.stories.tsx
  frontend/lib/ui/Alert/Alert.tsx
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/Button/Button.stories.tsx
  frontend/lib/ui/Button/Button.tsx
  frontend/lib/ui/Checkbox/Checkbox.module.css
  frontend/lib/ui/Feedback/Feedback.module.css
  frontend/lib/ui/FormField/FormField.module.css
  frontend/lib/ui/Icon/Icon.module.css
  frontend/lib/ui/Icon/Icon.stories.tsx
  frontend/lib/ui/Icon/Icon.tsx
  frontend/lib/ui/IconButton/IconButton.module.css
  frontend/lib/ui/IconButton/IconButton.stories.tsx
  frontend/lib/ui/IconButton/IconButton.tsx
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/ProgressList/ProgressList.module.css
  frontend/lib/ui/ProgressList/ProgressList.tsx
  frontend/lib/ui/Spinner/Spinner.module.css
  frontend/lib/ui/Spinner/Spinner.stories.tsx
  frontend/lib/ui/Spinner/Spinner.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/style/core.css
  frontend/lib/ui/style/form.less
  frontend/lib/ui/style/layout.css
  frontend/lib/ui/style/table.css
  frontend/lib/ui/style/util.css
  frontend/lib/ui/style/variables.css
  frontend/lib/ui/util/Util.tsx
  frontend/lib/util/hook/useNumericParam.ts
  frontend/vite.config.ts
Labels: frontend

#304 Finish data entry abort modal functionality
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/module/input/PollingStation/AbortDataEntryControl.test.tsx
  frontend/app/module/input/PollingStation/AbortDataEntryControl.tsx
  frontend/app/module/input/PollingStation/PollingStation.test.tsx
  frontend/app/test/unit/form.ts
  frontend/e2e-tests/dom-to-db-tests/abort-data-entry.e2e.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/useDifferences.ts
  frontend/lib/api/form/pollingstation/usePoliticalGroups.ts
  frontend/lib/api/form/pollingstation/useRecounted.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
Labels: frontend

#315 Revert workaround for broken `sqlx::test` macro
  backend/src/polling_station/mod.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Labels: backend

#312 Implement data entry final save
  backend/src/lib.rs
  frontend/app/component/form/pollingstation_save/PollingStationSaveForm.test.tsx
  frontend/app/component/form/pollingstation_save/PollingStationSaveForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/app/test/unit/form.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/InputPgObj.ts
  frontend/e2e-tests/page-objects/input/SaveFormPgObj.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.test.ts
  frontend/lib/ui/Form/Form.tsx
Labels: frontend, tests

#307 Integrate pdf poc in backend and add typst template
  backend/.gitignore
  backend/Cargo.lock
  backend/Cargo.toml
  backend/fixtures/elections.sql
  backend/migrations/1_elections.sql
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/election/repository.rs
  backend/src/election/structs.rs
  backend/src/lib.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/models/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/pdf_gen/world.rs
  backend/templates/common/scripts.typ
  backend/templates/common/style.typ
  backend/templates/fonts/DM_Sans/DMSans-Bold.ttf
  backend/templates/fonts/DM_Sans/DMSans-BoldItalic.ttf
  backend/templates/fonts/DM_Sans/DMSans-ExtraBold.ttf
  backend/templates/fonts/DM_Sans/DMSans-ExtraBoldItalic.ttf
  backend/templates/fonts/DM_Sans/DMSans-Italic.ttf
  backend/templates/fonts/DM_Sans/DMSans-Regular.ttf
  backend/templates/fonts/DM_Sans/LICENSE
  backend/templates/fonts/Geist_Mono/GeistMono-Regular.otf
  backend/templates/fonts/Geist_Mono/LICENSE
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-2.typ
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api/gen/openapi.ts
Labels: backend

#325 Fix handling of API errors
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/pollingstation_save/PollingStationSaveForm.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/module/input/PollingStation/PollingStation.test.tsx
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/index.ts
  frontend/lib/api/useApiGetRequest.ts
  frontend/lib/api/useApiPostRequest.ts
  frontend/lib/ui/Feedback/Feedback.module.css
  frontend/lib/ui/Feedback/Feedback.stories.tsx
  frontend/lib/ui/Feedback/Feedback.test.tsx
  frontend/lib/ui/Feedback/Feedback.tsx
Labels: frontend

#327 Reset database in dom-to-database tests
  backend/fixtures/reset.sql
  backend/src/bin/api.rs
  backend/src/fixtures.rs
  backend/src/lib.rs
  frontend/e2e-tests/dom-to-db-tests/abort-data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/fixtures.ts
  frontend/playwright.d2d.config.ts
Labels: backend, tests

#292 Custom checkbox
  frontend/.eslintrc.cjs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.module.css
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/checkmarkSmall.svg
  frontend/lib/ui/BottomBar/BottomBar.module.css
  frontend/lib/ui/BottomBar/BottomBar.tsx
  frontend/lib/ui/Checkbox/Checkbox.module.css
  frontend/lib/ui/Checkbox/Checkbox.stories.tsx
  frontend/lib/ui/Checkbox/Checkbox.test.tsx
  frontend/lib/ui/Checkbox/Checkbox.tsx
Labels: frontend

#326 Prevent new data entry after finalisation
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
Labels: backend

#324 Sum up all the votes and voters for the entire election for PDF
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/module/input/page/FinaliseElectionPage.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Labels: backend

#322 Implement design for check and save page
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/pollingstation_save/PollingStationSaveForm.test.tsx
  frontend/app/component/form/pollingstation_save/PollingStationSaveForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/component/pollingstation/utils.ts
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/app/test/unit/form.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/input/InputPgObj.ts
  frontend/e2e-tests/page-objects/input/SaveFormPgObj.ts
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.test.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/ui/ProgressList/ProgressList.tsx
  frontend/lib/ui/StatusList/StatusList.module.css
  frontend/lib/ui/StatusList/StatusList.stories.tsx
  frontend/lib/ui/StatusList/StatusList.test.tsx
  frontend/lib/ui/StatusList/StatusList.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/style/typography.css
  frontend/lib/ui/util/Icons.tsx
  frontend/lib/ui/util/Util.tsx
  frontend/lib/ui/util/index.ts
Labels: frontend

#323 Added coloring of links as designed
  frontend/app/component/navbar/NavBar.module.css
  frontend/lib/api/gen/openapi.ts
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/Feedback/Feedback.module.css
  frontend/lib/ui/ProgressList/ProgressList.module.css
  frontend/lib/ui/StatusList/StatusList.module.css
  frontend/lib/ui/style/typography.css
Labels: frontend

#337 Remove quotes from fixture polling station name
  backend/fixtures/polling_stations.sql
  backend/src/polling_station/mod.rs
  backend/tests/polling_station_integration_test.rs
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/e2e-tests/dom-to-db-tests/test-data/PollingStationTestData.ts
  frontend/lib/api-mocks/PollingStationMockData.ts
Labels: frontend

#344 Add RTL integration test for navigation after F204 error
  frontend/app/module/input/PollingStation/PollingStation.test.tsx
Labels: tests

#349 Re-fetch statuses on opening data entry home page
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/lib/api/election/ElectionStatusProvider.tsx
  frontend/lib/api/useApiGetRequest.ts
Labels: frontend

#352 Add Git commit and branch details to footer
  frontend/app/component/footer/Footer.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/main.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/data_entry/PollingStation/AbortDataEntryControl.test.tsx
  frontend/app/routes.test.tsx
  frontend/app/test/unit/Providers.tsx
  frontend/app/test/unit/server.ts
  frontend/app/vite-env.d.ts
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/api.test.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.test.tsx
  frontend/lib/ui/style/layout.css
  frontend/vite.config.ts
Labels: frontend

#351 Improve locators for the icons in the data entry forms of the RTL tests
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/testHelperFunctions.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
Labels: tests

#356 Added polling stations to election details endpoint to improve api call timeline
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.tsx
  frontend/app/module/data_entry/DataEntryLayout.tsx
  frontend/app/module/data_entry/PollingStation/PollingStationLayout.test.tsx
  frontend/app/module/data_entry/PollingStation/PollingStationLayout.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/election/useElection.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/index.ts
  frontend/lib/api/polling_station/PollingStationListProvider.tsx
  frontend/lib/api/polling_station/index.ts
  frontend/lib/api/polling_station/usePollingStation.ts
  frontend/lib/api/polling_station/usePollingStationList.ts
  frontend/lib/api/useApiGetRequest.ts
  frontend/lib/api/useElectionDataRequest.ts
  frontend/lib/api/usePollingStationListRequest.test.ts
  frontend/lib/api/usePollingStationListRequest.ts
Labels: backend, frontend

#364 Resume data entry (without form state)
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/validation.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared.rs
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/data_entry/PollingStation/AbortDataEntryControl.test.tsx
  frontend/app/test/unit/form.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/api/gen/openapi.ts
Labels: backend, frontend, tests

#357 Styling improvements for progresslist, checkbox and buttons
  frontend/app/component/pollingstation/PollingStationProgress.tsx
  frontend/lib/ui/Badge/badge.module.css
  frontend/lib/ui/BottomBar/BottomBar.module.css
  frontend/lib/ui/BottomBar/BottomBar.stories.tsx
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/Button/Button.stories.tsx
  frontend/lib/ui/Checkbox/Checkbox.module.css
  frontend/lib/ui/IconButton/IconButton.module.css
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/ProgressList/ProgressList.module.css
  frontend/lib/ui/style/variables.css
Labels: frontend

#367 Polling station status behavior
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationsList.tsx
  frontend/app/module/data_entry/PollingStation/PollingStationLayout.tsx
  frontend/app/routes.test.tsx
Labels: frontend

#378 Election polling station progress bars
  frontend/app/component/election/ElectionProgress.test.tsx
  frontend/app/component/election/ElectionProgress.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/lib/ui/ProgressBar/ProgressBar.module.css
  frontend/lib/ui/ProgressBar/ProgressBar.stories.tsx
  frontend/lib/ui/ProgressBar/ProgressBar.test.tsx
  frontend/lib/ui/ProgressBar/ProgressBar.tsx
  frontend/lib/ui/index.ts
Labels: frontend

#385 combines resume data entry d2d tests in a single file
  frontend/e2e-tests/dom-to-db-tests/abort-data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
Labels: tests

#386 Replace unicode down arrow with svg image in keyboard hint
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/arrowNarrowDown.svg
  frontend/lib/icon/svg/arrowNarrowUp.svg
  frontend/lib/ui/KeyboardKeys/KeyboardKeys.tsx
Labels: frontend

#387 Fixed showing the icon on the progress list for check and save page
  frontend/app/component/pollingstation/PollingStationProgress.tsx
  frontend/app/module/data_entry/PollingStation/PollingStation.test.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/NavigationPanelPgObj.ts
Labels: frontend

#379 Convert icons to fill and remove inline styles
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/module/data_entry/PollingStation/PollingStationLayout.tsx
  frontend/app/module/overview/page/OverviewPage.tsx
  frontend/lib/icon/README.md
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/arrowBlockUp.svg
  frontend/lib/icon/svg/arrowLeft.svg
  frontend/lib/icon/svg/arrowNarrowRight.svg
  frontend/lib/icon/svg/asterisk.svg
  frontend/lib/icon/svg/checkHeart.svg
  frontend/lib/icon/svg/checkVerified.svg
  frontend/lib/icon/svg/checkmarkSmall.svg
  frontend/lib/icon/svg/chevronRight.svg
  frontend/lib/icon/svg/clock.svg
  frontend/lib/icon/svg/cornerDownLeft.svg
  frontend/lib/icon/svg/cross.svg
  frontend/lib/icon/svg/dot.svg
  frontend/lib/icon/svg/error.svg
  frontend/lib/icon/svg/hourglass.svg
  frontend/lib/icon/svg/info.svg
  frontend/lib/icon/svg/minus.svg
  frontend/lib/icon/svg/thumbsUp.svg
  frontend/lib/icon/svg/user.svg
  frontend/lib/icon/svg/warningSquare.svg
  frontend/lib/ui/Icon/Icon.module.css
  frontend/lib/ui/Icon/Icon.test.tsx
  frontend/lib/ui/Icon/Icon.tsx
  frontend/lib/ui/ProgressList/ProgressList.module.css
  frontend/scripts/gen_icons.js
Labels: frontend
