Repository kiesraad/abacus, pull requests merged in 2024-12, with the labels that each got.

#661 Add Rust version to GitHub Actions cache key
  .github/workflows/build-lint-test.yml
Labels: continuous-integration

#659 add integration tests for deleting polling station with data entry or with result
  backend/fixtures/polling_station_data_entries.sql
  backend/src/fixtures.rs
  backend/tests/polling_station_integration_test.rs
Labels: tests

#666 Add `windows` to Windows release file name
  .github/workflows/release.yml
Labels: continuous-integration

#637 Serialize XML according to EML_NL 510b
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/eml/base.rs
  backend/src/eml/mod.rs
  backend/src/eml/tests/deserialize_eml510b_test.eml.xml
  backend/src/eml/util.rs
  backend/src/lib.rs
Labels: backend

#671 Unite voters counts and voters recounts
  backend/fixtures/polling_station_results.sql
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/data_entry/structs.rs
  backend/src/lib.rs
  backend/src/summary/mod.rs
  backend/src/validation.rs
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/lib/api-mocks/DataEntry.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/gen/openapi.ts
  frontend/lib/util/fields.ts
Labels: backend, frontend

#630 Polling station CRUD: create and update
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.module.css
  frontend/app/component/form/polling_station/PollingStationForm.test.tsx
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/polling_stations/PollingStationsLayout.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/app/routes.tsx
  frontend/lib/api-mocks/Database.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/polling_station/index.ts
  frontend/lib/api/polling_station/usePollingStationGet.ts
  frontend/lib/api/polling_station/usePollingStationMutation.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useCrud.ts
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/polling_station.json
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/Button/Button.tsx
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/lib/ui/Form/FormLayout.module.css
  frontend/lib/ui/Form/FormLayout.stories.tsx
  frontend/lib/ui/Form/FormLayout.tsx
  frontend/lib/ui/Form/index.ts
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/NumberInput/NumberInput.tsx
  frontend/lib/ui/Table/Table.module.css
  frontend/lib/ui/Toolbar/Toolbar.module.css
  frontend/lib/ui/Toolbar/Toolbar.stories.tsx
  frontend/lib/ui/Toolbar/Toolbar.test.tsx
  frontend/lib/ui/Toolbar/Toolbar.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/style/variables.css
Labels: frontend

#691 Update Cargo dependencies
  backend/Cargo.lock
Labels: backend

#668 Add jobs to upload binaries to abacus-test.nl for test and release
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
Labels: continuous-integration

#685 Add API endpoint to download EML_NL XML
  backend/fixtures/elections.sql
  backend/migrations/1_elections.sql
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/election/repository.rs
  backend/src/election/structs.rs
  backend/src/eml/axum.rs
  backend/src/eml/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/pdf_gen/mod.rs
  backend/tests/election_integration_test.rs
  docker-compose.yml
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api/gen/openapi.ts
Labels: backend

#660 Translate components continued
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/NotAvailableInMock.tsx
  frontend/app/module/account/page/AccountSetupPage.tsx
  frontend/app/module/account/page/LoginPage.tsx
  frontend/app/module/account/page/UserHomePage.tsx
  frontend/app/module/data_entry/page/CandidatesVotesPage.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryModal.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
  frontend/app/module/election/page/ElectionHomePage.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/users/UsersHomePage.tsx
  frontend/app/module/workstations/WorkstationsHomePage.tsx
  frontend/lib/i18n/i18n.test.tsx
  frontend/lib/i18n/locales/nl/data_entry.json
  frontend/lib/i18n/locales/nl/election.json
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/messages.json
  frontend/lib/i18n/locales/nl/nl.ts
  frontend/lib/i18n/locales/nl/polling_station.json
  frontend/lib/i18n/locales/nl/user.json
  frontend/lib/i18n/locales/nl/workstations.json
Labels: frontend

#713 Configure npm strict-peer-deps
  frontend/.npmrc
Labels: frontend

#692 Add XML hashcode to PDF
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/election/mod.rs
  backend/src/eml/base.rs
  backend/src/eml/mod.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/templates/common/style.typ
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-2.typ
Labels: backend

#718 Fix i18n message when election is completely entered
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/lib/i18n/locales/nl/data_entry.json
Labels: frontend

#722 Downgrade to Vite 5
  .github/dependabot.yml
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, javascript

#689 Delete polling station
  frontend/app/module/polling_stations/page/PollingStationCreatePage.tsx
  frontend/app/module/polling_stations/page/PollingStationDeleteModal.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/lib/api/polling_station/usePollingStationMutation.ts
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/polling_station.json
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/trash.svg
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/Form/FormLayout.module.css
  frontend/lib/ui/style/variables.css
Labels: frontend

#727 Fix a little performance nitpick in formatting hash
  backend/src/eml/base.rs
Labels: backend

#670 API client improvements
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/app/module/polling_stations/page/PollingStationDeleteModal.tsx
  frontend/lib/api/ApiError.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/index.ts
  frontend/lib/api/polling_station/index.ts
  frontend/lib/api/polling_station/usePollingStationGet.ts
  frontend/lib/api/polling_station/usePollingStationListRequest.ts
  frontend/lib/api/polling_station/usePollingStationMutation.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useCrud.ts
  frontend/lib/api/useElectionDataRequest.ts
  frontend/lib/api/useElectionListRequest.ts
  frontend/lib/api/useElectionStatusRequest.ts
Labels: bug, frontend

#715 EntryNumber enum
  backend/src/data_entry/entry_number.rs
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
Labels: backend

#699 Add location column to elections overview for typist and added missing translations
  frontend/app/component/error/Error.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationsList.tsx
  frontend/app/component/form/user/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/FatalErrorPage.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/election/page/ElectionHomePage.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/app/module/users/UsersHomePage.tsx
  frontend/app/module/workstations/WorkstationsHomePage.tsx
  frontend/app/routes.tsx
  frontend/app/test/unit/router.ts
  frontend/lib/api/RequestStateHandler.tsx
  frontend/lib/i18n/i18n.test.tsx
  frontend/lib/i18n/locales/nl/data_entry.json
  frontend/lib/i18n/locales/nl/election.json
  frontend/lib/i18n/locales/nl/election_status.json
  frontend/lib/i18n/locales/nl/error.json
  frontend/lib/i18n/locales/nl/feedback.json
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/user.json
  frontend/lib/i18n/locales/nl/workstations.json
  frontend/lib/ui/Alert/Alert.tsx
  frontend/lib/ui/AppLayout/AppLayout.module.css
  frontend/lib/ui/Badge/Badge.tsx
  frontend/lib/ui/Badge/WorkStationNumber.tsx
  frontend/lib/ui/Feedback/Feedback.tsx
  frontend/lib/ui/Form/Form.test.tsx
  frontend/lib/ui/FormField/FormField.tsx
  frontend/lib/ui/Modal/Modal.tsx
  frontend/lib/ui/util/Icons.tsx
Labels: frontend, ux debt

#714 Add users and sessions to the backend
  backend/.sqlx/query-4b651e13f6247a169f77c100722ff6a63466952aa30c029db17a732a253d4928.json
  backend/.sqlx/query-5d418229ac5342369a1df5dcce69aaefc04e52cd25ace3824506aa66422f944c.json
  backend/.sqlx/query-7b61f8238c7921d82cff5eaadcef012a55be9140ff259d74cd9375e4a4c416ed.json
  backend/.sqlx/query-88e67e041ff1419270109e599ee5546fa263e65fee42ba8a9ad723ccf0d356d8.json
  backend/.sqlx/query-a6db552f3da14b3484f7e65eae96a36fa64c4d27207759791206be2627243776.json
  backend/.sqlx/query-b1c973d46bb40b99c0981dd33b87e9b392e2af674d13d9b41c145aac76434f1f.json
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/fixtures/users.sql
  backend/migrations/5_users.sql
  backend/migrations/6_sessions.sql
  backend/openapi.json
  backend/src/authentication/error.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/password.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/src/authentication/util.rs
  backend/src/error.rs
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/error.json
Labels: backend

#687 Edit polling station use cases
  documentatie/use-cases/GSB-gebruikersdoelen.md
  documentatie/use-cases/GSB-hoogover.md
Labels: documentation

#730 Add API endpoint to retrieve zip with xml and pdf combined
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/tests/election_integration_test.rs
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/e2e-tests/dom-to-db-tests/pdf-rendering.e2e.ts
  frontend/lib/api/gen/openapi.ts
Labels: backend

#696 Separate useKeyboard from Form component
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/lib/ui/Form/Form.stories.tsx
  frontend/lib/ui/Form/Form.test.tsx
  frontend/lib/ui/Form/Form.tsx
  frontend/lib/ui/Form/index.ts
  frontend/lib/ui/Form/useFormKeyboardNavigation.test.tsx
  frontend/lib/ui/Form/useFormKeyboardNavigation.ts
Labels: frontend

#746 add test for shift+up/down when there's a checkbox
  frontend/lib/ui/Form/useFormKeyboardNavigation.test.tsx
Labels: tests

#732 Add 'today' or weekday or date to finished at in status overview tables
  frontend/app/module/election/page/ElectionStatusPage.test.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/util/format.test.ts
  frontend/lib/util/format.ts
Labels: frontend

#744 Adds a way to render an error message for ChoiceList
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.stories.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.test.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.tsx
Labels: frontend

#690 Updated dependencies in READMEs
  backend/Cargo.toml
  backend/README.md
  frontend/README.md
Labels: documentation

#754 d2d tests: replace hard-coded pollingstation data with an api call fixture
  frontend/.eslintrc.cjs
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/fixtures.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/test-data/request-response-templates.ts
  frontend/lib/ui/InputGrid/InputGrid.e2e.ts
Labels: tests

#749 Add 1st 2nd data entry progress bars for typist
  frontend/app/component/election/ElectionProgress.test.tsx
  frontend/app/component/election/ElectionProgress.tsx
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/status.json
Labels: frontend

#748 use cases: restructure files & coordinator status screen
  documentatie/use-cases/GSB-gebruikersdoelen.md
  documentatie/use-cases/GSB-hoogover.md
  documentatie/use-cases/GSB-subfuncties.md
  documentatie/use-cases/Installatie-en-inrichting-applicatie.md
  documentatie/use-cases/Invoer-eerste-zitting.md
  documentatie/use-cases/Invoer-tweede-zitting.md
  documentatie/use-cases/README-use-cases.md
  documentatie/use-cases/README.md
  documentatie/use-cases/Validatieregels-plausibiliteitschecks-tellingen.md
  documentatie/use-cases/template-use-case.md
  documentatie/use-cases/uiterste-use-cases.md
Labels: documentation

#768 replaces waitFor() with expect() in d2d tests
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
Labels: tests

#767 update refinement and pull requests docs after 16 Dec retro
  documentatie/ontwikkelproces/pull-requests.md
  documentatie/ontwikkelproces/refinement.md
Labels: documentation

#766 adds epic template
  .github/ISSUE_TEMPLATE/epic-template.md
Labels: documentation

#688 Readmes en context
  README.md
  documentatie/README.md
  documentatie/gebruikersdocumentatie/img/abacus-interface.png
  documentatie/gebruikersdocumentatie/img/eml_flow_nl.drawio.png
  documentatie/gebruikersdocumentatie/img/proces uitslagvaststelling v2.png
  documentatie/gebruikersdocumentatie/img/pv.jpg
  documentatie/gebruikersdocumentatie/img/stemhokjes.jpg
  documentatie/gebruikersdocumentatie/img/telproces.jpg
  documentatie/gebruikersdocumentatie/verkiezingsproces-en-abacus.md
Labels: documentation

#773 Fix typos in Model Na 31-2, documentation and code comments
  README.md
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  backend/src/election/mod.rs
  backend/templates/inputs/model-na-31-2.json
  backend/templates/model-na-31-2.typ
  documentatie/ontwikkelproces/pull-requests.md
  documentatie/ontwikkelproces/testen-en-kwaliteit.md
  documentatie/referentie/woordenlijst-EN-NL.md
  documentatie/usability-tests/20241025-bevindingen.md
  frontend/lib/api/ApiClient.ts
  frontend/lib/ui/NumberInput/NumberInput.tsx
Labels: backend

#778 Typo in election process doc
  documentatie/verkiezingsproces/wie-mag-waarvoor-stemmen.md
Labels: documentation

#775 Configure Lefthook to commit SQLx metadata
  lefthook.yml
Labels: backend

#770 Remove unused tower-http dependency
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
Labels: backend
