Repository kiesraad/abacus, pull requests merged in 2024-10, with the labels that each got.

#389 Update description of features, add new milestone
  documentatie/functionaliteit/functionaliteit-eisen-en-wensen.md
  documentatie/functionaliteit/milestone-2024-09.md
  documentatie/functionaliteit/milestone-2024-12.md
  documentatie/functionaliteit/versie-1.0-gr2026.md
Labels: documentation

#410 Add translation for restzetel
  documentatie/referentie/woordenlijst-EN-NL.md
Labels: documentation

#428 Fix submit-navigate after navigating back one page
  frontend/app/module/data_entry/PollingStation/PollingStation.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Labels: frontend

#427 Use `Attachment` from `axum-extra` for PDF results
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/election/mod.rs
Labels: backend

#437 Move data entry functionality to new module
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared.rs
Labels: backend

#440 Downgrade to TypeScript 5.5 for typescript-eslint compatibility
  .github/dependabot.yml
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#406 Add nullable types to OpenAPI generator
  backend/openapi.json
  backend/src/election/structs.rs
  backend/src/polling_station/structs.rs
  frontend/scripts/gen_openapi_types.ts
Labels: backend, frontend

#444 Add demo election
  backend/fixtures/elections.sql
  backend/fixtures/polling_stations.sql
  backend/tests/election_integration_test.rs
Labels: backend

#442 Add resume functionality to use cases
  documentatie/use-cases/GSB-gebruikersdoelen.md
Labels: documentation

#445 Add persistence to Mock Service Worker implementation
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/navbar/NavBar.module.css
  frontend/app/module/NotAvailableInMock.tsx
  frontend/app/module/data_entry/PollingStation/PollingStationLayout.tsx
  frontend/app/routes.test.tsx
  frontend/app/routes.tsx
  frontend/app/test/unit/setup.ts
  frontend/lib/api-mocks/DataEntry.ts
  frontend/lib/api-mocks/Database.ts
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api-mocks/index.ts
Labels: frontend

#446 Save data entry immediately after beginning
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/data_entry/structs.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/validation.rs
  backend/tests/shared.rs
  documentatie/use-cases/GSB-validatieregels-plausibiliteitschecks.md
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/component/pollingstation/utils.ts
  frontend/app/test/unit/form.ts
  frontend/lib/api-mocks/DataEntry.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/pollingStationUtils.test.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/api/form/pollingstation/useRecounted.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/ui/Feedback/Feedback.stories.tsx
  frontend/lib/ui/Feedback/Feedback.test.tsx
  frontend/lib/ui/Feedback/Feedback.tsx
  frontend/lib/ui/Feedback/Feedback.types.tsx
Labels: backend, frontend

#377 Fixed navigating form sections and focus state and Alert styling
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/module/data_entry/PollingStation/AbortDataEntryModal.tsx
  frontend/app/module/data_entry/PollingStation/PollingStation.test.tsx
  frontend/app/test/unit/setup.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/AbortInputModalPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryBasePgObj.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.test.ts
  frontend/lib/api/form/pollingstation/pollingStationUtils.ts
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/Feedback/Feedback.tsx
  frontend/lib/ui/Form/Form.stories.tsx
  frontend/lib/ui/Form/Form.test.tsx
  frontend/lib/ui/Form/Form.tsx
  frontend/lib/ui/IconButton/IconButton.module.css
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/Modal/Modal.module.css
  frontend/lib/ui/Modal/Modal.stories.tsx
  frontend/lib/ui/Modal/Modal.test.tsx
  frontend/lib/ui/Modal/Modal.tsx
  frontend/lib/ui/style/variables.css
  frontend/vite.config.ts
Labels: frontend

#457 adds Marlon B and Oliver to contributors file
  contributors.yml
Labels: documentation

#456 tweaks aan use case invoer stembureau
  documentatie/use-cases/GSB-gebruikersdoelen.md
Labels: documentation

#429 Asset serving via `memory-serve`
  .github/workflows/build-lint-test.yml
  Dockerfile
  backend/.gitignore
  backend/.sqlx/query-02befb6eb6070ce836af6be44d313ec5c65708549e54e5de5ac3b23f3aa0a3da.json
  backend/.sqlx/query-41c5784ae5ea6a169bf2a2e5ee722a78bdbcdb2a2ae5999a2d8d70f9cb64e372.json
  backend/.sqlx/query-6c4ca8837760eec1f4d06d0401052004a291644f3a5855eeedbab3684825ca34.json
  backend/.sqlx/query-868e3d8deb20b4652cb7155b07ffe9d940cbbc6e48796b8697108db7726a2063.json
  backend/.sqlx/query-9fa247a2c763deb964ce9669da9ff871d78c391700b7bc307be2752944afb1fd.json
  backend/.sqlx/query-af169cc8aa4af2cf9399e35b5485c350c300ca5b5be8c471f9d8e28dea0b25ea.json
  backend/.sqlx/query-c781fb96b98ceaa630576c0287437beb0f91ac3d09140a62c2b798008d0a7a82.json
  backend/.sqlx/query-dfe3cb08a3c22461bcdf15607f7f2e03688749cb5e023e7fe331732a25039488.json
  backend/.sqlx/query-eb00ec6ee5eacc5c747567184c5a417b6ed21333194f1a13ba6df9706f4b5a06.json
  backend/.sqlx/query-f2542092c51b2e31f46babe3237512702f286fc60c16be0b273ce109f522745e.json
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/bin/api.rs
  backend/src/fixtures.rs
  backend/src/lib.rs
  backend/src/pdf_gen/mod.rs
  build-and-run
  docker-compose.yml
  frontend/playwright.common.config.ts
  frontend/playwright.d2d.config.ts
  lefthook.yml
Labels: backend

#485 Add some additional tests for addition and pdf rendering
  backend/Cargo.toml
  backend/src/data_entry/structs.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/models/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/templates/model-na-31-2.typ
Labels: backend

#494 fix CandidatesVotesForm showing (null) if candidates have no first name field
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
Labels: frontend

#530 Update fonts path in README license paragraph
  README.md
Labels: documentation
