Repository kiesraad/abacus, pull requests merged in 2024-07, with the labels that each got.

#156 Update Cargo and npm dependencies
  backend/Cargo.lock
  frontend/package-lock.json
Labels: backend, frontend

#170 Split data entry integration tests into their own file
  backend/tests/data_entries_integration_test.rs
  backend/tests/polling_station_integration_test.rs
Labels: backend

#175 Add API server CLI option to serve frontend
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/bin/api.rs
  frontend/package.json
Labels: backend

#180 Add TypeScript compilation check to Lefthook
  lefthook.yml
Labels: frontend

#183 Use polling station id instead of number
  backend/README.md
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/tests/polling_station_integration_test.rs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationsList.tsx
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/usePollingStation.ts
  frontend/lib/api/usePollingStationDataEntry.test.ts
  frontend/lib/util/fields.test.ts
  frontend/lib/util/fields.ts
Labels: backend, frontend

#192 Remove redundant and incorrectly handled validation
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
Labels: bug, frontend

#182 Improve polling station form tests
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/lib/api-mocks/index.ts
Labels: frontend

#194 Election name
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api-mocks/index.ts
Labels: frontend

#203 Make candidates' first name optional
  backend/openapi.json
  backend/src/election/structs.rs
  frontend/lib/api/gen/openapi.ts
Labels: backend
