Repository kiesraad/abacus, pull requests merged in 2024-08, with the labels that each got.

#209 Provide feedback when user clicks "Beginnen"
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.module.css
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
  frontend/lib/ui/Icon/Icon.module.css
Labels: frontend

#199 Fix false positives in tests
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/test/unit/test-utils.ts
Labels: tests

#208 Strict parse int
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/module/input/PollingStation/CandidatesVotesPage.tsx
  frontend/lib/util/hook/useNumericParam.ts
  frontend/lib/util/strings.test.ts
  frontend/lib/util/strings.ts
Labels: frontend

#193 Not found page and routing logic
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
  frontend/app/main.tsx
  frontend/app/module/ElectionLayout.tsx
  frontend/app/module/NotFound.tsx
  frontend/app/module/input/PollingStation/CandidatesVotesPage.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
  frontend/app/module/overview/OverviewLayout.tsx
  frontend/app/routes.test.tsx
  frontend/app/routes.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/election/ElectionListProvider.tsx
  frontend/lib/api/election/ElectionProvider.tsx
  frontend/lib/api/polling_station/index.ts
  frontend/lib/api/polling_station/usePollingStation.ts
  frontend/lib/api/useApiGetRequest.ts
  frontend/lib/util/hook/useNumericParam.ts
  frontend/lib/util/index.ts
  frontend/lib/util/strings.test.ts
  frontend/lib/util/strings.ts
Labels: frontend

#227 Frontend: A few design fixes
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/ui/style/variables.css
Labels: frontend

#231 Make IncorrectCandidatesList, OutOfRange errors a 422 response instead
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/ui/FormField/FormField.stories.tsx
  frontend/lib/ui/FormField/FormField.test.tsx
Labels: backend, frontend

#228 first dom-to-db tests
  backend/src/bin/api.rs
  frontend/README.md
  frontend/e2e-tests/app-tests/smoketest.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/test-data/PollingStationTestData.ts
  frontend/e2e-tests/page-objects/input/CandidatesListPgObj.ts
  frontend/e2e-tests/page-objects/input/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/input/InputBasePgObj.ts
  frontend/e2e-tests/page-objects/input/InputPgObj.ts
  frontend/e2e-tests/page-objects/input/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/input/VotersVotesPgObj.ts
  frontend/package.json
  frontend/playwright.app.config.ts
  frontend/playwright.common.config.ts
  frontend/playwright.d2d.config.ts
  frontend/playwright.lib-ui.config.ts
  frontend/tsconfig.json
Labels: tests

#232 Add API command flag to seed data into the database on startup
  .github/workflows/build-lint-test.yml
  backend/Cargo.toml
  backend/src/bin/api.rs
  backend/src/lib.rs
Labels: backend

#240 Set the API to be the default run target for cargo
  backend/Cargo.toml
  backend/README.md
Labels: backend

#244 Some more design fixes
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/pollingstation/PollingStationProgress.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/app/module/overview/OverviewLayout.tsx
  frontend/app/module/user/page/AccountSetupPage.tsx
  frontend/app/module/user/page/LoginPage.tsx
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/ui/ProgressList/ProgressList.module.css
  frontend/lib/ui/ProgressList/ProgressList.tsx
  frontend/lib/ui/index.ts
  frontend/lib/ui/util/PageTitle.tsx
  frontend/lib/ui/util/index.ts
Labels: frontend

#245 Clean up SQL migrations
  backend/migrations/1_elections.sql
  backend/migrations/2_polling_stations.sql
  backend/migrations/3_polling_station_data_entries.sql
  backend/migrations/4_polling_station_results.sql
Labels: backend

#166 Add recounted, voters_recounts and differences fields to api including validation and voters_recounts to frontend
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/src/validation.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.tsx
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/recounted/RecountedForm.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/form/pollingstation/index.ts
  frontend/lib/api/form/pollingstation/useDifferences.ts
  frontend/lib/api/form/pollingstation/useRecounted.ts
  frontend/lib/api/form/pollingstation/useVotersAndVotes.ts
  frontend/lib/api/form/useErrorsAndWarnings.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/api/usePollingStationDataEntry.test.ts
  frontend/lib/ui/Feedback/Feedback.module.css
  frontend/lib/ui/style/typography.css
Labels: backend, frontend

#251 Allow setting vite host
  frontend/vite.config.ts
Labels: frontend

#255 Fixed issues on voters and votespage
  backend/src/polling_station/structs.rs
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/ui/InputGrid/InputGrid.module.css
  frontend/lib/ui/InputGrid/InputGrid.tsx
Labels: backend, frontend

#239 Add document describing logic of data entry forms
  documentatie/flowcharts/data-entry-forms.md
Labels: documentation

#256 Implement data entry abort modal behaviour
  backend/openapi.json
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared.rs
  frontend/app/module/input/PollingStation/AbortDataEntryControl.test.tsx
  frontend/app/module/input/PollingStation/AbortDataEntryControl.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
  frontend/app/test/unit/server.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
  frontend/lib/api/index.ts
  frontend/lib/api/useApiGetRequest.ts
  frontend/lib/api/useApiPostRequest.ts
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/style/layout.css
Labels: backend, frontend, tests

#262 Add PDF download endpoint to backend
  backend/.gitignore
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/tests/election_integration_test.rs
  frontend/lib/api/gen/openapi.ts
Labels: backend

#264 Fix mock server handlers for second election
  frontend/app/component/form/candidates_votes_form/CandidatesVotesForm.test.tsx
  frontend/app/component/form/differences/DifferencesForm.test.tsx
  frontend/app/component/form/recounted/RecountedForm.test.tsx
  frontend/app/component/form/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/input/PollingStation/AbortDataEntryControl.test.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.test.tsx
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/app/test/unit/server.ts
  frontend/lib/api-mocks/ElectionMockData.ts
  frontend/lib/api-mocks/PollingStationMockData.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/useElectionDataRequest.test.ts
  frontend/lib/api/useElectionListRequest.test.ts
Labels: frontend

#259 Improve navigation flow and implement navigation breadcrumbs
  frontend/app/component/MockTest.tsx
  frontend/app/component/navbar/NavBar.module.css
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/HomePage.tsx
  frontend/app/module/NotFound.tsx
  frontend/app/module/input/InputLayout.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.test.tsx
  frontend/app/module/input/PollingStation/PollingStationLayout.tsx
  frontend/app/module/input/page/InputHomePage.test.tsx
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/app/module/overview/OverviewLayout.tsx
  frontend/app/module/user/LoginLayout.tsx
  frontend/app/module/user/page/UserHomePage.tsx
  frontend/app/routes.test.tsx
  frontend/app/routes.tsx
  frontend/lib/icon/gen.tsx
  frontend/lib/icon/svg/chevronRight.svg
  frontend/lib/icon/svg/user.svg
  frontend/lib/ui/style/core.css
  frontend/lib/ui/style/layout.css
  frontend/lib/ui/style/table.css
Labels: frontend

#273 Don't wait for debounce when input is correct
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.tsx
Labels: frontend

#267 Fix more UX/design debt
  frontend/app/component/form/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/polling_station_choice/PollingStationSelector.module.css
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/app/module/overview/OverviewLayout.tsx
  frontend/app/module/overview/page/OverviewPage.tsx
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/Button/Button.module.css
  frontend/lib/ui/style/variables.css
Labels: frontend

#272 Documenten toevoegd, verplaatst, bewerkt
  documentatie/Testen en kwaliteit.md
  documentatie/functionaliteit/functionaliteit-eisen-en-wensen.md
  documentatie/ontwikkelproces/GitHub-werkwijze.md
  documentatie/ontwikkelproces/proces-ontwikkeling-en-releases.md
  documentatie/ontwikkelproces/testen-en-kwaliteit.md
  documentatie/readme.md
  documentatie/referentie/afkortingenlijst.md
  documentatie/referentie/woordenlijst-EN-NL.md
  documentatie/softwarearchitectuur/overwegingen-talen-en-frameworks.md
  documentatie/verkiezingsproces/verloop-verkiezingen.md
  documentatie/verkiezingsproces/wie-doet-welke-stembureaus.md
  documentatie/verkiezingsproces/wie-mag-waarvoor-stemmen.md
  documentatie/verkiezingsproces/zetelverdeling-GR.md
Labels: documentation

#275 Restore license header in mock API file
  README.md
  frontend/app/msw-mock-api.ts
  frontend/app/test/unit/server.ts
Labels: documentation, frontend

#274 Added placeholder finalise page
  frontend/app/module/input/page/FinaliseElectionPage.test.tsx
  frontend/app/module/input/page/FinaliseElectionPage.tsx
  frontend/app/module/input/page/InputHomePage.tsx
  frontend/app/routes.test.tsx
  frontend/app/routes.tsx
  frontend/app/test/unit/test-utils.ts
Labels: frontend
