Repository kiesraad/abacus, pull requests merged in 2024-11, with the labels that each got.

#552 Fix flaky header focus test
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
Labels: frontend

#538 Create polling station backend endpoint
  backend/.sqlx/query-3bf3e099d7bc4086cc66115e25b6ae81cb213822f69a6fe1a04cda7cdde40b7e.json
  backend/.sqlx/query-6a00e6137189ea2154679c5b16f6377a1130a41f479e32e2039c671caaa4c804.json
  backend/.sqlx/query-7f8236bc8562684bd372060c85ba9990460814755aaba03e367e32d32afe339e.json
  backend/.sqlx/query-a547a2a3781a3ae6836065b775583c745c28532143cc627e52b202842610894d.json
  backend/.sqlx/query-c2098a2e2221a033009dd54377bdeb11da6cd1722439eea4a183912dab7214ba.json
  backend/.sqlx/query-d310391af7ddd380045db7fd80e54f499a9c75a99e336742f1c33a0bcca78c46.json
  backend/.sqlx/query-f005ea908ac292a7caae56f9cb5cbfebc5a36a0aba9c863708acc75107b93ae6.json
  backend/fixtures/polling_stations.sql
  backend/openapi.json
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/tests/polling_station_integration_test.rs
  frontend/lib/api/gen/openapi.ts
Labels: backend

#555 Upgrade to TypeScript 5.6
  .github/dependabot.yml
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#549 Move text to translations
  frontend/app/component/election/ElectionProgress.tsx
  frontend/app/component/election/ElectionStatusProgress.tsx
  frontend/app/component/error/Error.tsx
  frontend/app/component/error/ErrorModal.tsx
  frontend/app/component/footer/Footer.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/lib/i18n/i18n.ts
  frontend/lib/i18n/i18n.types.ts
  frontend/lib/i18n/locales/nl.ts
Labels: frontend

#556 Fixed Alert width and made sure proces-verbaal is always written with a dash
  backend/.sqlx/query-3bf3e099d7bc4086cc66115e25b6ae81cb213822f69a6fe1a04cda7cdde40b7e.json
  backend/.sqlx/query-a547a2a3781a3ae6836065b775583c745c28532143cc627e52b202842610894d.json
  backend/.sqlx/query-c2098a2e2221a033009dd54377bdeb11da6cd1722439eea4a183912dab7214ba.json
  backend/.sqlx/query-f005ea908ac292a7caae56f9cb5cbfebc5a36a0aba9c863708acc75107b93ae6.json
  documentatie/referentie/afkortingenlijst.md
  documentatie/referentie/woordenlijst-EN-NL.md
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/lib/i18n/locales/nl.ts
  frontend/lib/ui/Alert/Alert.module.css
Labels: documentation, frontend

#541 Agreements refinement
  documentatie/ontwikkelproces/proces-ontwikkeling-en-releases.md
  documentatie/ontwikkelproces/refinement.md
Labels: documentation

#567 Serve fallback pages with status OK
  backend/src/lib.rs
Labels: backend

#570 CSS guidelines
  documentatie/style-guide/css.md
  frontend/app/component/election/ElectionProgress.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.module.css
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/form/user/account_setup/AccountSetupForm.tsx
  frontend/app/component/navbar/NavBar.module.css
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/Table/Table.tsx
  frontend/lib/ui/style/index.css
  frontend/lib/ui/style/typography.css
  frontend/lib/ui/style/util.css
  frontend/lib/ui/style/variables.css
  frontend/vite.config.ts
Labels: frontend

#571 npm uninstall identity-obj-proxy
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#566 Save cached input when clicking save in modal
  documentatie/flowcharts/data-entry-forms.md
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/lib/api/form/pollingstation/PollingStationFormController.test.tsx
  frontend/lib/api/form/pollingstation/PollingStationFormController.tsx
Labels: frontend

#529 Focus first input when navigating to next step
  frontend/.eslintrc.cjs
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/CandidatesListPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/CheckAndSavePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/index.html
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/lib/ui/Form/Form.tsx
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/InputGrid/InputGrid.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/style/reset.css
  frontend/lib/ui/style/typography.css
Labels: frontend

#581 Upgrade to ESLint 9
  frontend/lib/api/ApiClient.ts
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#611 Split of summary count and pdf models
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/summary/mod.rs
Labels: backend, rust

#629 Fix build outside of Git repo
  frontend/app/component/footer/Footer.tsx
  frontend/vite.config.ts
Labels: frontend

#593 Expanded install and start
  README.md
  documentatie/gebruikersdocumentatie/img/build-artifact-1.png
  documentatie/gebruikersdocumentatie/img/build-artifact-2.png
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
  documentatie/gebruikersdocumentatie/runnen.md
Labels: documentation

#612 Add second data entry statuses in backend
  backend/.sqlx/query-126ad9b7597b417a81714e12c5775e49e748deea00f6b970f8ebd2f1af1716c2.json
  backend/.sqlx/query-169b72e0764c54509da23d202213083f03a75ff049f962935ddb98bb4db0dfc9.json
  backend/.sqlx/query-23c55aadc9cb8a567b0864745c63a5db6a54c0e198e74f211dfb93ce1582a9d4.json
  backend/.sqlx/query-2cd25d799cfdb164bfb6ba28a14a17050a1fe1e9e419c5076e7e626a82ea7769.json
  backend/.sqlx/query-3f25e0747a40ac1a825722549cdf8b319d7eb13e4283bd257197421ae3ed3997.json
  backend/.sqlx/query-78182bfa60730f5a0d5f02a46b5c278e5dc268f6f8beebb2fe7397cbccbb1388.json
  backend/.sqlx/query-8a2981cee6ec8e9d437d9917e202aef4b7814cf641138c38523775c73696f243.json
  backend/.sqlx/query-de7d4c0588a60a43bf2ce4eb6cc80c630aef2fa21d45ff70de5d732ae16a71b3.json
  backend/.sqlx/query-f4595c1b1ae65551404674f2f1736e57a24acb902cd5d80867b5d435dea3d3ae.json
  backend/migrations/3_polling_station_data_entries.sql
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/error.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/shared.rs
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/error.json
  frontend/lib/ui/Badge/Badge.tsx
Labels: backend

#589 Agreements pull requests
  .github/pull_request_template.md
  documentatie/ontwikkelproces/GitHub-werkwijze.md
  documentatie/ontwikkelproces/pull-requests.md
  documentatie/ontwikkelproces/testen-en-kwaliteit.md
  documentatie/ontwikkelproces/zero-bug-policy.md
Labels: documentation

#631 Also build and test on Windows and macOS in CI
  .gitattributes
  .github/workflows/build-lint-test.yml
  frontend/playwright.d2d.config.ts
  frontend/vite.config.ts
Labels: continuous-integration

#649 Build on push to `main` for GitHub Actions cache
  .github/workflows/build-lint-test.yml
Labels: continuous-integration

#648 632 use new chromium headless for playwright
  .github/workflows/build-lint-test.yml
  frontend/README.md
  frontend/playwright.common.config.ts
Labels: tests, continuous-integration

#647 Rename h1, h2 classes to heading-xl, heading-lg
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/lib/ui/Form/Form.tsx
  frontend/lib/ui/style/typography.css
Labels: frontend

#644 Add release job
  .github/workflows/release.yml
Labels: continuous-integration

#646 Improve data entry locators in RTL and Playwright tests
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/app/test/unit/test-utils.ts
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
Labels: tests
