Repository kiesraad/abacus, pull requests merged in 2025-05, with the labels that each got.

#1446 flowchart for coordinator dealing with errors and differences
  documentatie/flowcharts/afhandeling-fouten-verschillen-coordinator.md
Labels: documentation

#1454 small fixes to Vertalingen doc
  documentatie/softwarearchitectuur/Vertalingen.md
Labels: documentation

#1447 Preview the differences resolve action in the tables
  frontend/src/features/resolve_differences/components/DifferencesTable.test.tsx
  frontend/src/features/resolve_differences/components/DifferencesTable.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferences.module.css
  frontend/src/features/resolve_differences/components/ResolveDifferences.stories.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
Labels: frontend

#1459 Capitalize "gemeentelijk stembureau" and "centraal stembureau" in front-end
  frontend/src/lib/i18n/locales/nl/election_report.json
  frontend/src/lib/i18n/locales/nl/recounted.json
  frontend/src/lib/i18n/locales/nl/voters_and_votes.json
Labels: frontend

#1461 Add module to compare first and second data entry
  backend/src/data_entry/comparison.rs
  backend/src/data_entry/mod.rs
Labels: backend

#1465 e2e tests: replace two mocks with fixtures and some small refactorings
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/tests/authentication.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.api-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/resolve-differences.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/e2e-tests/tests/users.e2e.ts
Labels: tests

#1453 restore code coverage: DataEntryNavigation
  frontend/src/features/data_entry/components/DataEntryNavigation.test.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
Labels: tests

#1481 Remove inline images
  frontend/src/assets/icons/times.svg
  frontend/src/features/resolve_differences/components/ResolveDifferences.module.css
Labels: frontend

#1482 More verbose file uploads from github actions
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
Labels: continuous-integration

#1427 restore code coverage: useVotersAndVotes (cache)
  frontend/src/features/data_entry/components/cache.test.tsx
Labels: tests

#1488 Fix styling for resolve differences tables
  frontend/src/features/resolve_differences/components/DifferencesTable.test.tsx
  frontend/src/features/resolve_differences/components/DifferencesTable.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferences.module.css
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/testing/polling-station-results.ts
Labels: frontend

#1466 Add headers for security hardening
  backend/Cargo.toml
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/lib.rs
Labels: backend

#1489 Kleine verbeteringen van "beoordeelt de verschillen" use case
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Labels: documentation

#1490 Allow inlined images in CSP
  backend/src/lib.rs
  frontend/src/assets/icons/times.svg
  frontend/src/features/resolve_differences/components/ResolveDifferences.module.css
Labels: backend, frontend

#1483 restore code coverage: actions.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
Labels: tests

#1520 Add FirstEntryHasErrors state to state diagram
  documentatie/flowcharts/data-entry-state.md
Labels: documentation

#1521 Check and save election page
  frontend/src/features/election_create/components/CheckAndSave.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/ElectionCreateLayout.tsx
  frontend/src/features/election_create/components/PollingStationRole.tsx
  frontend/src/features/election_create/hooks/useElectionCheck.ts
  frontend/src/features/election_create/routes.tsx
  frontend/src/i18n/locales/nl/election.json
  frontend/src/i18n/locales/nl/generic.json
  frontend/src/styles/util.css
Labels: frontend

#1510 Add instruction how to build for different platforms
  backend/README.md
Labels: documentation

#1530 Use three shards for Playwright e2e tests
  .github/workflows/build-lint-test.yml
Labels: continuous-integration

#1529 Add status FirstEntryHasErrors
  backend/.sqlx/query-1f17b6083878ff250d57a8843412bd1fd83fe9c1effc346af769d63bdd69dc86.json
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  frontend/src/components/ui/Badge/Badge.module.css
  frontend/src/components/ui/Badge/Badge.stories.tsx
  frontend/src/components/ui/Badge/Badge.test.tsx
  frontend/src/components/ui/Badge/Badge.tsx
  frontend/src/types/generated/openapi.ts
Labels: backend

#1502 Data entry: accept errors
  frontend/e2e-tests/page-objects/data_entry/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/src/features/data_entry/components/DataEntryNavigation.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.tsx
  frontend/src/features/data_entry/components/candidates_votes/useCandidateVotes.ts
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/components/differences/DifferencesForm.tsx
  frontend/src/features/data_entry/components/differences/useDifferences.ts
  frontend/src/features/data_entry/components/recounted/RecountedForm.test.tsx
  frontend/src/features/data_entry/components/recounted/RecountedForm.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.tsx
  frontend/src/features/data_entry/components/voters_and_votes/useVotersAndVotes.ts
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/testing/test.utils.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/data_entry/utils/reducer.ts
Labels: frontend

#1550 Update NavBar for resolve differences
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/i18n/locales/nl/election_status.json
Labels: frontend

#1533 Feedback on data entry home page on differences or errors
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/tests/data-entry/data-entry.api-errors.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/hooks/useDataEntry.ts
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/data_entry_home/components/DataEntryHomePage.test.tsx
  frontend/src/features/data_entry_home/components/DataEntryHomePage.tsx
  frontend/src/i18n/locales/nl/data_entry.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Labels: frontend
