Repository kiesraad/abacus, pull requests merged in 2025-06, with the labels that each got.

#1569 Update Geist Mono font to v1.5.0
  frontend/src/assets/font/Geist_Mono/GeistMono[wght].woff2
Labels: frontend

#1561 Air Gap detection backend functionality (DNS lookup only)
  .github/workflows/codecov.yml
  backend/Cargo.toml
  backend/openapi.json
  backend/src/airgap/detect.rs
  backend/src/airgap/middleware.rs
  backend/src/airgap/mod.rs
  backend/src/audit_log/api.rs
  backend/src/authentication/mod.rs
  backend/src/bin/abacus.rs
  backend/src/election/api.rs
  backend/src/election/repository.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/tests/airgap_detection_test.rs
  backend/tests/utils/mod.rs
  frontend/src/i18n/locales/nl/error.json
  frontend/src/types/generated/openapi.ts
Labels: backend

#1567 Refactor Election to separate ElectionWithPoliticalGroups
  backend/openapi.json
  backend/src/apportionment/candidate_nomination.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/validation.rs
  backend/src/election/api.rs
  backend/src/election/repository.rs
  backend/src/election/structs.rs
  backend/src/eml/eml_510.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/report/api.rs
  backend/src/summary/mod.rs
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/features/apportionment/components/Apportionment.stories.tsx
  frontend/src/features/apportionment/components/ApportionmentTable.test.tsx
  frontend/src/features/apportionment/components/full_seats/FullSeatsTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/UniqueHighestAveragesTable.test.tsx
  frontend/src/features/apportionment/testing/gte-19-seats-and-p9.ts
  frontend/src/features/apportionment/testing/gte-19-seats.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats-and-p9-and-p10.ts
  frontend/src/features/apportionment/testing/lt-19-seats.ts
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/hooks/useDataEntry.ts
  frontend/src/features/data_entry/hooks/useDataEntryNavigation.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/data_entry/utils/reducer.ts
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/hooks/election/ElectionProvider.tsx
  frontend/src/hooks/election/ElectionProviderContext.tsx
  frontend/src/hooks/election/useElectionDataRequest.ts
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/types/generated/openapi.ts
Labels: backend, frontend

#1574 Handle fatal errors during data-entry
  frontend/e2e-tests/tests/data-entry/data-entry.api-errors.e2e.ts
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
Labels: bug

#1591 Remove section title header from InputGrid component
  frontend/src/components/ui/InputGrid/InputGrid.module.css
  frontend/src/components/ui/InputGrid/InputGrid.tsx
Labels: frontend

#1610 Data entry section routing using section IDs
  frontend/src/components/ui/Feedback/Feedback.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/DataEntrySectionWrapper.tsx
  frontend/src/features/data_entry/components/cache.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesPage.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesPage.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/components/differences/DifferencesForm.tsx
  frontend/src/features/data_entry/components/differences/DifferencesPage.tsx
  frontend/src/features/data_entry/components/recounted/RecountedForm.test.tsx
  frontend/src/features/data_entry/components/recounted/RecountedForm.tsx
  frontend/src/features/data_entry/components/recounted/RecountedPage.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesPage.tsx
  frontend/src/features/data_entry/routes.tsx
  frontend/src/features/data_entry/utils/utils.ts
Labels: frontend

#1613 Use data entry structure for differences view
  frontend/src/components/ui/ProgressList/ProgressList.module.css
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
  frontend/src/components/ui/ProgressList/ProgressList.test.tsx
  frontend/src/features/data_entry/components/DataEntryNavigation.tsx
  frontend/src/features/data_entry/components/DataEntrySubsections.tsx
  frontend/src/features/data_entry/components/cache.test.tsx
  frontend/src/features/data_entry/components/subsections/HeadingSubsection.tsx
  frontend/src/features/data_entry/components/subsections/InputGridSubsection.tsx
  frontend/src/features/data_entry/components/subsections/MessageSubsection.tsx
  frontend/src/features/data_entry/components/subsections/RadioSubsection.tsx
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/ValidationResults.ts
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesOverview.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.stories.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/features/resolve_differences/utils/dataEntry.ts
  frontend/src/features/resolve_differences/utils/differences.test.ts
  frontend/src/features/resolve_differences/utils/differences.ts
  frontend/src/i18n/locales/nl/recounted.json
  frontend/src/i18n/locales/nl/resolve_differences.json
  frontend/src/types/types.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryMapping.ts
  frontend/src/utils/dataEntryStructure.test.ts
  frontend/src/utils/dataEntryStructure.ts
Labels: frontend

#1628 Generate test election helper tool
  backend/.sqlx/query-4660bfcdf0bdee50df05c66848f10b73d40829367369694cc0a563f476ec3a38.json
  backend/Cargo.toml
  backend/src/bin/gen-test-election.rs
  backend/src/election/mod.rs
  backend/src/election/repository.rs
  backend/src/lib.rs
  backend/src/polling_station/repository.rs
  backend/src/test_data_gen/mod.rs
Labels: backend

#1639 Add zebra striping to political group data entry
  frontend/src/features/data_entry/components/subsections/InputGridSubsection.tsx
  frontend/src/utils/dataEntryStructure.ts
Labels: frontend

#1634 Removed differences badge
  frontend/src/components/ui/Badge/Badge.e2e.ts
  frontend/src/components/ui/Badge/Badge.module.css
  frontend/src/components/ui/Badge/Badge.test.tsx
  frontend/src/components/ui/Badge/Badge.tsx
  frontend/src/features/election_status/components/ElectionStatus.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/i18n/locales/nl/data_entry.json
Labels: frontend

#1662 Allow exporting of a generated test election to EML files
  backend/.sqlx/query-4660bfcdf0bdee50df05c66848f10b73d40829367369694cc0a563f476ec3a38.json
  backend/src/bin/gen-test-election.rs
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/eml_230.rs
Labels: backend

#1669 Add generation of election results for test elections
  backend/.sqlx/query-4660bfcdf0bdee50df05c66848f10b73d40829367369694cc0a563f476ec3a38.json
  backend/src/bin/gen-test-election.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
  backend/src/test_data_gen/mod.rs
Labels: backend

#1688 Remove current section id from form state
  frontend/src/features/data_entry/components/DataEntryNavigation.test.tsx
  frontend/src/features/data_entry/components/DataEntryNavigation.tsx
  frontend/src/features/data_entry/components/DataEntryPage.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/components/DataEntrySectionWrapper.tsx
  frontend/src/features/data_entry/components/cache.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSavePage.tsx
  frontend/src/features/data_entry/components/differences/DifferenceForm.test.tsx
  frontend/src/features/data_entry/components/recounted/RecountedForm.test.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/data_entry/hooks/useDataEntry.ts
  frontend/src/features/data_entry/hooks/useDataEntryContext.ts
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
  frontend/src/features/data_entry/hooks/useDataEntryNavigation.ts
  frontend/src/features/data_entry/routes.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/testing/test.utils.ts
  frontend/src/features/data_entry/types/types.ts
  frontend/src/features/data_entry/utils/actions.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/data_entry/utils/reducer.ts
Labels: frontend
