Repository kiesraad/abacus, pull requests merged in 2025-04, with the labels that each got.

#1286 Show all dev links when application is running with MSW
  frontend/src/app/DevHomePage.tsx
Labels: frontend

#1292 Candidate fullname util and model changes
  backend/templates/model-na-31-2.typ
  frontend/src/components/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/src/components/form/data_entry/test-data/test.utils.ts
  frontend/src/lib/i18n/locales/nl/candidate.json
  frontend/src/lib/i18n/locales/nl/generic.json
  frontend/src/lib/i18n/locales/nl/nl.ts
  frontend/src/lib/util/candidate.test.ts
  frontend/src/lib/util/candidate.ts
  frontend/src/lib/util/index.ts
Labels: frontend

#1287 Updated state machine for difference resolving
  backend/src/data_entry/status.rs
Labels: backend

#1293 Add error reference for 'already claimed'
  backend/openapi.json
  backend/src/error.rs
  frontend/src/api/gen/openapi.ts
  frontend/src/lib/i18n/locales/nl/error.json
Labels: backend

#1234 Page to upload election definition
  frontend/src/app/routes.tsx
  frontend/src/components/navbar/NavBar.test.tsx
  frontend/src/components/navbar/NavBarLinks.tsx
  frontend/src/components/ui/Button/Button.module.css
  frontend/src/components/ui/Button/Button.stories.tsx
  frontend/src/components/ui/Button/Button.tsx
  frontend/src/components/ui/FileInput/FileInput.module.css
  frontend/src/components/ui/FileInput/FileInput.stories.tsx
  frontend/src/components/ui/FileInput/FileInput.test.tsx
  frontend/src/components/ui/FileInput/FileInput.tsx
  frontend/src/components/ui/index.ts
  frontend/src/features/election_management/components/ElectionCreatePage.tsx
  frontend/src/features/election_management/components/index.ts
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/lib/i18n/locales/nl/election.json
  frontend/src/lib/i18n/locales/nl/generic.json
  frontend/src/lib/i18n/locales/nl/polling_station.json
Labels: frontend

#1295 Remove `FormSectionReference` from data entry
  frontend/src/components/form/data_entry/candidates_votes/useCandidateVotes.ts
  frontend/src/components/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/src/components/form/data_entry/differences/useDifferences.ts
  frontend/src/components/form/data_entry/recounted/useRecounted.ts
  frontend/src/components/form/data_entry/state/actions.ts
  frontend/src/components/form/data_entry/state/reducer.test.ts
  frontend/src/components/form/data_entry/state/reducer.ts
  frontend/src/components/form/data_entry/state/types.ts
  frontend/src/components/form/data_entry/state/useDataEntryContext.ts
  frontend/src/components/form/data_entry/state/useDataEntryFormSection.ts
  frontend/src/components/form/data_entry/voters_and_votes/useVotersAndVotes.ts
Labels: frontend

#1297 Run PR+merge queue workflow on Linux only
  .github/workflows/build-lint-test.yml
Labels: continuous-integration

#1294 Update architecture diagrams
  documentatie/softwarearchitectuur/Overzicht.md
  documentatie/softwarearchitectuur/diagrammen/component-backend.png
  documentatie/softwarearchitectuur/diagrammen/component-frontend.png
  documentatie/softwarearchitectuur/diagrammen/container.png
  documentatie/softwarearchitectuur/diagrammen/systeemlandschap.png
  documentatie/softwarearchitectuur/frontend-structuur.md
  documentatie/softwarearchitectuur/structurizr/.gitignore
  documentatie/softwarearchitectuur/structurizr/Components_EN.png
  documentatie/softwarearchitectuur/structurizr/Components_EN.svg
  documentatie/softwarearchitectuur/structurizr/Components_NL.svg
  documentatie/softwarearchitectuur/structurizr/Container_EN.png
  documentatie/softwarearchitectuur/structurizr/Container_EN.svg
  documentatie/softwarearchitectuur/structurizr/Container_NL.svg
  documentatie/softwarearchitectuur/structurizr/README.md
  documentatie/softwarearchitectuur/structurizr/SystemLandscape.svg
  documentatie/softwarearchitectuur/structurizr/workspace.dsl
  documentatie/softwarearchitectuur/structurizr/workspace.json
Labels: documentation

#1299 Types and type predicate functions for specific SeatChangeStep types
  frontend/src/features/apportionment/components/Apportionment.stories.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesForLessThan19SeatsTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesForLessThan19SeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/testing/less-than-19-seats.ts
  frontend/src/features/apportionment/utils/seat-change.ts
Labels: frontend

#1304 DifferencesTable and ResolveDifferencesTables components
  frontend/src/components/ui/Table/Table.tsx
  frontend/src/components/ui/style/util.css
  frontend/src/features/resolve_differences/components/DifferencesTable.test.tsx
  frontend/src/features/resolve_differences/components/DifferencesTable.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferences.module.css
  frontend/src/features/resolve_differences/components/ResolveDifferences.stories.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/features/resolve_differences/testing/polling-station-results.ts
  frontend/src/features/resolve_differences/utils/dataEntry.ts
  frontend/src/lib/i18n/locales/nl/nl.ts
  frontend/src/lib/i18n/locales/nl/polling_station_results.json
  frontend/src/lib/i18n/locales/nl/resolve_differences.json
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/testing/api-mocks/ElectionMockData.ts
Labels: frontend

#1307 Restructure feature polling_stations
  frontend/src/api/index.ts
  frontend/src/api/polling_station/index.ts
  frontend/src/features/polling_stations/components/PollingStationCreatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationCreatePage.tsx
  frontend/src/features/polling_stations/components/PollingStationDeleteModal.tsx
  frontend/src/features/polling_stations/components/PollingStationForm.test.tsx
  frontend/src/features/polling_stations/components/PollingStationForm.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/features/polling_stations/components/PollingStationsLayout.tsx
  frontend/src/features/polling_stations/hooks/useForm.ts
  frontend/src/features/polling_stations/hooks/usePollingStationGet.ts
  frontend/src/features/polling_stations/hooks/usePollingStationListRequest.ts
  frontend/src/lib/util/hook/index.ts
  sigrid.yaml
Labels: frontend

#1305 Restructure features account & workstations
  frontend/src/features/account/components/AccountSetupForm.test.tsx
  frontend/src/features/account/components/AccountSetupForm.tsx
  frontend/src/features/account/components/AccountSetupPage.test.tsx
  frontend/src/features/account/components/AccountSetupPage.tsx
  frontend/src/features/account/components/LoginForm.test.tsx
  frontend/src/features/account/components/LoginForm.tsx
  frontend/src/features/account/components/LoginLayout.tsx
  frontend/src/features/account/components/LoginPage.test.tsx
  frontend/src/features/account/components/LoginPage.tsx
  frontend/src/features/account/components/UserHomePage.tsx
  frontend/src/features/workstations/components/WorkstationsHomePage.tsx
  sigrid.yaml
Labels: frontend

#1311 Fix `cargo test` in release workflow
  .github/workflows/release.yml
Labels: rust, continuous-integration

#1282 Fix dialog modal
  frontend/playwright.ladle.config.ts
  frontend/src/components/ui/Modal/Modal.e2e.ts
  frontend/src/components/ui/Modal/Modal.stories.tsx
  frontend/src/components/ui/Modal/Modal.tsx
Labels: bug, frontend

#1313 Use `Swatinem/rust-cache` action for CI
  .github/workflows/build-lint-test.yml
  .github/workflows/codecov.yml
Labels: backend, continuous-integration

#1317 Require first/second data entry user to be different
  backend/src/authentication/user.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/e2e-tests/data-entry.e2e.ts
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/setup.ts
Labels: backend

#1291 Added ZeroVotesCast error
  backend/openapi.json
  backend/src/apportionment/seat_assignment.rs
  backend/src/error.rs
  frontend/src/api/gen/openapi.ts
  frontend/src/features/apportionment/components/ApportionmentError.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/lib/i18n/locales/nl/error.json
Labels: backend, frontend

#1315 Only fetch a user once per request
  backend/.sqlx/query-1019d87a89eb4087ab3d931e41d633572bde7edacf9f5fa19c064f92d723d801.json
  backend/.sqlx/query-efba7caf7f767b2c41e36a423588c11766dbda1e332c040c775a162d9db78944.json
  backend/src/audit_log/api.rs
  backend/src/audit_log/service.rs
  backend/src/authentication/api.rs
  backend/src/authentication/error.rs
  backend/src/authentication/middleware.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/src/authentication/util.rs
  backend/src/error.rs
  backend/src/lib.rs
Labels: backend, rust

#1321 Fixed code and added tests to prevent missed cargo mutants in fraction and candidate_nomination
  backend/src/apportionment/candidate_nomination.rs
  backend/src/apportionment/fraction.rs
Labels: backend

#1326 Return ref from useFormKeyboardNavigation
  frontend/src/components/ui/Form/Form.stories.tsx
  frontend/src/components/ui/Form/useFormKeyboardNavigation.test.tsx
  frontend/src/components/ui/Form/useFormKeyboardNavigation.ts
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
Labels: frontend

#1323 Show abort dialog on check and save form
  frontend/src/features/data_entry/components/DataEntryNavigation.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
Labels: frontend

#1328 Move to Lightning CSS
  frontend/.ladle/vite.config.ts
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/components/navbar/NavBar.module.css
  frontend/src/components/navbar/NavBar.stories.tsx
  frontend/src/components/navbar/NavBar.tsx
  frontend/src/components/navbar/NavBarMenu.tsx
  frontend/src/components/ui/AppFrame/AppFrame.module.css
  frontend/src/components/ui/AppFrame/AppFrame.tsx
  frontend/src/components/ui/AppLayout/AppLayout.module.css
  frontend/src/components/ui/AppLayout/AppLayout.tsx
  frontend/src/components/ui/AppLayout/StickyNav.module.css
  frontend/src/components/ui/AppLayout/StickyNav.tsx
  frontend/src/components/ui/BottomBar/BottomBar.module.css
  frontend/src/components/ui/BottomBar/BottomBar.tsx
  frontend/src/components/ui/Button/Button.tsx
  frontend/src/components/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/src/components/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/src/components/ui/DisplayFraction/DisplayFraction.module.css
  frontend/src/components/ui/FileInput/FileInput.module.css
  frontend/src/components/ui/Form/FormLayout.module.css
  frontend/src/components/ui/FormField/FormField.module.css
  frontend/src/components/ui/FormField/FormField.tsx
  frontend/src/components/ui/IconButton/IconButton.module.css
  frontend/src/components/ui/IconButton/IconButton.tsx
  frontend/src/components/ui/InputField/InputField.module.css
  frontend/src/components/ui/InputGrid/InputGrid.module.css
  frontend/src/components/ui/InputGrid/InputGrid.tsx
  frontend/src/components/ui/KeyboardKeys/KeyboardKeys.module.css
  frontend/src/components/ui/KeyboardKeys/KeyboardKeys.tsx
  frontend/src/components/ui/Modal/Modal.module.css
  frontend/src/components/ui/Modal/Modal.tsx
  frontend/src/components/ui/ProgressBar/ProgressBar.module.css
  frontend/src/components/ui/ProgressList/ProgressList.module.css
  frontend/src/components/ui/ProgressList/ProgressList.tsx
  frontend/src/components/ui/Table/Table.module.css
  frontend/src/components/ui/Toolbar/Toolbar.module.css
  frontend/src/features/apportionment/components/Apportionment.module.css
  frontend/src/features/data_entry_choice/components/DataEntryChoice.module.css
  frontend/src/features/election_management/components/ElectionReportPage.module.css
  frontend/src/features/election_status/components/ElectionStatus.module.css
  frontend/src/features/resolve_differences/components/ResolveDifferences.module.css
  frontend/vite-prod.config.ts
Labels: dependencies, frontend

#1335 Fix bottom bar background on data entry pages
  frontend/src/components/ui/BottomBar/BottomBar.stories.tsx
  frontend/src/components/ui/BottomBar/BottomBar.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesForm.tsx
  frontend/src/features/data_entry/components/differences/DifferencesForm.tsx
  frontend/src/features/data_entry/components/voters_and_votes/VotersAndVotesForm.tsx
Labels: frontend

#1330 Move `useFormKeyboardNavigation` to data entry feature
  frontend/src/components/ui/Form/Form.stories.tsx
  frontend/src/components/ui/Form/index.ts
  frontend/src/features/data_entry/components/FormKeyboardNavigation.stories.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.tsx
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.test.tsx
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.ts
Labels: frontend

#1329 Filter data entry choice for second entry
  frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.tsx
  frontend/src/features/data_entry_choice/components/PollingStationLink.tsx
  frontend/src/features/data_entry_choice/components/PollingStationSelector.tsx
  frontend/src/features/data_entry_choice/components/PollingStationsList.tsx
  frontend/src/features/data_entry_choice/utils/util.ts
  frontend/src/lib/i18n/locales/nl/polling_station_choice.json
  frontend/src/lib/util/data-entry.ts
  frontend/src/lib/util/index.ts
Labels: frontend

#1314 migrate tests in DataEntry.integration.test.tsx to playwright tests
  documentatie/ontwikkelproces/test-tooling.md
  frontend/e2e-tests/helpers-utils/e2e-test-helpers.ts
  frontend/e2e-tests/helpers-utils/xstate-helpers.ts
  frontend/e2e-tests/page-objects/ErrorModalPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryHomePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/index.ts
  frontend/e2e-tests/tests/authentication.e2e.ts
  frontend/e2e-tests/tests/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/pdf-rendering.e2e.ts
  frontend/e2e-tests/tests/polling-station-crud.e2e.ts
  frontend/e2e-tests/tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/tests/users.e2e.ts
  frontend/e2e-tests/tests/zip-download.e2e.ts
  frontend/package.json
  frontend/src/features/data_entry/components/DataEntry.integration.test.tsx
Labels: tests

#1320 Added endpoint to resolve different entries
  backend/.sqlx/query-e3da3f0a32f33a1e9559153236c3d32315842dd65f9ba445caac231979501e87.json
  backend/openapi.json
  backend/src/audit_log/audit_event.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/structs.rs
  frontend/src/api/gen/openapi.ts
  frontend/src/lib/i18n/locales/nl/log.json
Labels: backend

#1325 Parsing and writing of 510d and 520 EML files
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/eml_230.rs
  backend/src/eml/eml_510.rs
  backend/src/eml/eml_520.rs
  backend/src/eml/mod.rs
  backend/src/eml/tests/deserialize_eml510d_test.eml.xml
  backend/src/eml/tests/eml520_test.eml.xml
Labels: backend

#1344 restore code coverage of ErrorModal.tsx
  frontend/src/components/error/ErrorModal.stories.tsx
  frontend/src/components/error/ErrorModal.test.tsx
Labels: tests

#1302 Apportionment with list exhaustion in the absolute majority winner
  backend/src/apportionment/seat_assignment.rs
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/testing/absolute-majority-change-and-list-exhaustion.ts
Labels: backend, frontend

#1347 Restructure feature logs
  frontend/src/features/logs/components/LogDetailsModal.tsx
  frontend/src/features/logs/components/LogFilter.tsx
  frontend/src/features/logs/components/LogsTable.tsx
  frontend/src/features/logs/hooks/useAuditLog.ts
  frontend/src/features/logs/hooks/useLogFilterOptions.ts
Labels: frontend

#1348 restore code coverage of dataEntryUtils
  frontend/.eslintrc.cjs
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
Labels: tests

#1350 Added inline Alert component
  frontend/src/components/ui/Alert/Alert.module.css
  frontend/src/components/ui/Alert/Alert.stories.tsx
  frontend/src/components/ui/Alert/Alert.tsx
Labels: frontend

#1352 Show warning when data entry is already claimed
  frontend/e2e-tests/tests/data-entry.e2e.ts
  frontend/src/features/data_entry/components/DataEntryProvider.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.test.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.tsx
  frontend/src/lib/i18n/locales/nl/data_entry.json
Labels: frontend

#1365 restore code coverage of CandidatesVotesPage
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesPage.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesPage.tsx
Labels: tests

#1366 replace useParams with useNumericParam in DataEntryProgress
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
Labels: frontend

#1364 Fix save polling station when clicking cancel
  frontend/src/features/polling_stations/components/PollingStationForm.tsx
Labels: frontend

#1362 Improve utoipa audit log documentation
  backend/openapi.json
  backend/src/audit_log/api.rs
  frontend/src/api/gen/openapi.ts
Labels: documentation, backend

#1379 fix two instances of identical test names
  frontend/src/features/apportionment/components/list_details/CandidatesWithVotesTable.test.tsx
  frontend/src/features/users/components/UserListPage.test.tsx
Labels: tests

#1371 vitest `__mocks__` directory for easier mocking of useParams
  frontend/__mocks__/react-router.ts
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/data_entry/components/candidates_votes/CandidatesVotesPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/tsconfig.json
Labels: tests

#1381 adds matchers to RTL expects that didn't have one
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/list_details/ApportionmentListDetailsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.test.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoicePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatus.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
Labels: tests

#1370 Enable keyboard shortcuts from any element within the form
  frontend/src/features/data_entry/hooks/useFormKeyboardNavigation.ts
Labels: bug, frontend

#1387 Add e2e test for second data entry user being different
  frontend/e2e-tests/tests/data-entry.e2e.ts
Labels: tests

#1390 use cases: adds open item about corrigendum or PV in case of a recount
  documentatie/use-cases/input-output-bestanden.md
Labels: documentation

#1393 Fix cache retrieval for `CandidatesVotesForm`
  frontend/src/features/data_entry/components/candidates_votes/candidatesVotesValues.ts
  frontend/src/features/data_entry/components/candidates_votes/useCandidateVotes.ts
Labels: frontend

#1374 Cleanup election status and link to differences page
  frontend/src/app/routes.tsx
  frontend/src/features/election_status/components/CategoryHeader.tsx
  frontend/src/features/election_status/components/CategoryRow.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/features/election_status/hooks/useElectionStatus.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
Labels: frontend

#1318 Instructies invoerder
  documentatie/gebruikersdocumentatie/img/invoeren-account-instellen.png
  documentatie/gebruikersdocumentatie/img/invoeren-controleren-opslaan.png
  documentatie/gebruikersdocumentatie/img/invoeren-hertelling-ja-nee.png
  documentatie/gebruikersdocumentatie/img/invoeren-kies-stembureau.png
  documentatie/gebruikersdocumentatie/img/invoeren-kiezers-stemmen-waarschuwingen.png
  documentatie/gebruikersdocumentatie/img/invoeren-lijst.png
  documentatie/gebruikersdocumentatie/img/invoeren-stembureaunummer-invoeren.png
  documentatie/gebruikersdocumentatie/img/invoeren-verkiezing-selecteren.png
  documentatie/gebruikersdocumentatie/img/invoeren-verschillen.png
  documentatie/gebruikersdocumentatie/instructies-invoerder.md
Labels: documentation

#1412 Harden GitHub Actions workflows
  .github/workflows/build-lint-test.yml
  .github/workflows/cla.yml
  .github/workflows/codecov.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
Labels: continuous-integration

#1413 Remove redundant unique constraints in SQL tables
  backend/migrations/5_users.sql
  backend/migrations/6_sessions.sql
  backend/migrations/7_audit_log.sql
Labels: backend

#1414 Update to React Router v7.5.2
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, frontend, javascript

#1378 Update election status as user types
  frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.test.tsx
  frontend/src/features/data_entry_choice/components/DataEntryChoiceForm.tsx
  frontend/src/features/data_entry_choice/components/PollingStationSelector.tsx
  frontend/src/features/data_entry_choice/utils/useSingleCall.test.ts
  frontend/src/features/data_entry_choice/utils/useSingleCall.ts
Labels: frontend

#1410 Abacus error handling documentation
  documentatie/softwarearchitectuur/foutafhandeling.md
Labels: documentation

#1411 restore code coverage of DataEntryProgress and ProgressList
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
  frontend/src/components/ui/ProgressList/ProgressList.test.tsx
  frontend/src/components/ui/ProgressList/ProgressList.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
  frontend/src/features/data_entry/testing/mock-data.ts
  frontend/src/features/data_entry/testing/test.utils.ts
Labels: tests

#1382 Endpoint for polling station data entry status and hook to call this endpoint
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/testing/api-mocks/DataEntryMockData.ts
  frontend/src/types/generated/openapi.ts
Labels: backend, frontend

#1420 Expand data entry use case
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
Labels: documentation

#1409 use cases: P 22-2 sectie 2.11 Hertelling
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/input-output-bestanden.md
Labels: documentation

#1423 Use cases corrigenda
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
Labels: documentation

#1431 Add ProgressList.OverviewItem
  frontend/src/components/ui/ProgressList/ProgressList.module.css
  frontend/src/components/ui/ProgressList/ProgressList.stories.tsx
  frontend/src/components/ui/ProgressList/ProgressList.test.tsx
  frontend/src/components/ui/ProgressList/ProgressList.tsx
  frontend/src/lib/i18n/locales/nl/resolve_differences.json
  frontend/src/utils/classnames.test.ts
  frontend/src/utils/classnames.ts
Labels: frontend

#1448 Remove gebruikersdocumentatie
  README.md
  documentatie/README.md
  documentatie/gebruikersdocumentatie/img/abacus-interface.png
  documentatie/gebruikersdocumentatie/img/binary-download.jpg
  documentatie/gebruikersdocumentatie/img/build-artifact-1.jpg
  documentatie/gebruikersdocumentatie/img/build-artifact-2.jpg
  documentatie/gebruikersdocumentatie/img/eml_flow_nl.drawio.png
  documentatie/gebruikersdocumentatie/img/invoeren-account-instellen.png
  documentatie/gebruikersdocumentatie/img/invoeren-controleren-opslaan.png
  documentatie/gebruikersdocumentatie/img/invoeren-hertelling-ja-nee.png
  documentatie/gebruikersdocumentatie/img/invoeren-kies-stembureau.png
  documentatie/gebruikersdocumentatie/img/invoeren-kiezers-stemmen-waarschuwingen.png
  documentatie/gebruikersdocumentatie/img/invoeren-lijst.png
  documentatie/gebruikersdocumentatie/img/invoeren-stembureaunummer-invoeren.png
  documentatie/gebruikersdocumentatie/img/invoeren-verkiezing-selecteren.png
  documentatie/gebruikersdocumentatie/img/invoeren-verschillen.png
  documentatie/gebruikersdocumentatie/img/proces uitslagvaststelling v2.png
  documentatie/gebruikersdocumentatie/img/pv.jpg
  documentatie/gebruikersdocumentatie/img/stemhokjes.jpg
  documentatie/gebruikersdocumentatie/img/telproces.jpg
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
  documentatie/gebruikersdocumentatie/instructies-invoerder.md
  documentatie/gebruikersdocumentatie/verkiezingsproces-en-abacus.md
Labels: documentation

#1449 Update CLA workflow
  .github/workflows/cla.yml
Labels: github_actions
