Repository kiesraad/abacus, pull requests merged in 2025-07, with the labels that each got.

#1700 fix abort and save on check-and-save page of data entry
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resume-data-entry.e2e.ts
  frontend/src/features/data_entry/components/DataEntryNavigation.test.tsx
  frontend/src/features/data_entry/components/DataEntryNavigation.tsx
Labels: bug

#1706 Update audit log to store events as SQLite JSONB
  backend/.sqlx/query-0201284ec7f76f0a79e55e232742465beeb54ac04261eb7fb6022467fd8b7086.json
  backend/.sqlx/query-2434c35baf0d1114357671c0ebc89eb51b75dbc7daec5cf6358a3ed7b6cdcc18.json
  backend/.sqlx/query-371b371ba611c9368b918759a778c5d5e2508f138ba6bc601b7ff7cbe992f5a7.json
  backend/.sqlx/query-a7061807c60b5e00ca2e19975b615b422885923eb9c85909663aa82c2dd85006.json
  backend/.sqlx/query-e6351928e867255147b96988943ad396a4db5dd253e81a8e09b8d9dab1d150da.json
  backend/migrations/7_audit_log.sql
  backend/src/audit_log/audit_event.rs
  backend/src/audit_log/audit_log_events.rs
  backend/src/audit_log/service.rs
  backend/src/data_entry/api.rs
Labels: backend

#1696 Add navigation to resolve errors feature
  frontend/src/components/ui/ProgressList/ProgressList.tsx
  frontend/src/features/resolve_errors/components/ReadOnlyDataEntrySection.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrors.module.css
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsLayout.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsNavigation.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.test.tsx
  frontend/src/features/resolve_errors/components/ResolveErrorsSectionPage.tsx
  frontend/src/features/resolve_errors/hooks/usePollingStationDataEntryErrors.ts
  frontend/src/features/resolve_errors/routes.tsx
  frontend/src/i18n/locales/nl/resolve_errors.json
Labels: frontend

#1717 Rename woordenlijst-EN-NL.md to woordenlijst-NL-EN.md
  documentatie/referentie/woordenlijst-NL-EN.md
Labels: documentation

#1722 Add tooltip for invalid paste content to number input
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/components/ui/Tooltip/Tooltip.module.css
  frontend/src/components/ui/Tooltip/Tooltip.stories.tsx
  frontend/src/components/ui/Tooltip/Tooltip.tsx
  frontend/src/i18n/locales/nl/generic.json
Labels: frontend

#1704 Go to resolve errors after resolve differences when keeping second data entry with errors
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/helpers-utils/e2e-test-api-helpers.ts
  frontend/e2e-tests/page-objects/election/ResolveDifferencesPgObj.ts
  frontend/e2e-tests/page-objects/election/ResolveErrorsPgObj.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/tests/data-entry/data-entry.e2e.ts
  frontend/e2e-tests/tests/data-entry/resolve-differences.e2e.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_differences/hooks/usePollingStationDataEntryDifferences.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Labels: frontend

#1711 Messages provider, hook and component to show a message to the user on the next page
  backend/.sqlx/query-b3d99cb99ecf3b247d3fa0b7983cf34c13df010e896d7f0f04854273c8ef5cc9.json
  backend/.sqlx/query-f36930d314a9119e399eb5242e5850d41902b9a5e63371a92a809e15d0ee35a1.json
  backend/openapi.json
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/tests/polling_station_integration_test.rs
  frontend/src/components/messages/Messages.test.tsx
  frontend/src/components/messages/Messages.tsx
  frontend/src/features/polling_stations/components/PollingStationCreatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationCreatePage.tsx
  frontend/src/features/polling_stations/components/PollingStationDeleteModal.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.test.tsx
  frontend/src/features/polling_stations/components/PollingStationUpdatePage.tsx
  frontend/src/features/polling_stations/components/PollingStationsLayout.tsx
  frontend/src/hooks/messages/MessagesContext.ts
  frontend/src/hooks/messages/MessagesProvider.tsx
  frontend/src/hooks/messages/messages.test.tsx
  frontend/src/hooks/messages/useMessages.ts
  frontend/src/i18n/locales/nl/polling_station.json
  frontend/src/i18n/translate.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Labels: frontend

#1724 Scroll errors at bottom of data entry into view when triggered
  frontend/src/components/ui/InputGrid/InputGridRow.tsx
  frontend/src/components/ui/NumberInput/NumberInput.tsx
  frontend/src/features/data_entry/components/DataEntrySection.tsx
Labels: frontend

#1680 Election create: make sure navigation and browser back and forward work as intended
  frontend/e2e-tests/helpers-utils/e2e-test-browser-helpers.ts
  frontend/e2e-tests/page-objects/election/create/CheckCandidateDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/create/CheckElectionDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/create/UploadCandidateDefinitionPgObj.ts
  frontend/e2e-tests/page-objects/election/create/UploadDefinitionPgObj.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
  frontend/src/features/election_create/components/CheckAndSave.tsx
  frontend/src/features/election_create/components/ElectionCreate.test.tsx
  frontend/src/features/election_create/components/ElectionCreateContextProvider.tsx
  frontend/src/features/election_create/components/UploadCandidatesDefinition.tsx
  frontend/src/features/election_create/components/UploadElectionDefinition.tsx
Labels: frontend

#1763 Add checkboxes subsection
  frontend/eslint.config.js
  frontend/src/components/data_entry/DataEntrySubsections.tsx
  frontend/src/components/data_entry/subsections/CheckboxesSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/CheckboxesSubsection.tsx
  frontend/src/components/data_entry/subsections/HeadingSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/InputGridSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/InputGridSubsection.tsx
  frontend/src/components/data_entry/subsections/MessageSubsection.stories.tsx
  frontend/src/components/data_entry/subsections/RadioSubsection.stories.tsx
  frontend/src/components/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/src/components/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/types/types.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryMapping.ts
  frontend/src/utils/dataEntryStructure.ts
Labels: frontend

#1803 handle all non available states in PollingStationChoiceForm
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.test.tsx
  frontend/src/features/data_entry_home/components/PollingStationChoiceForm.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/polling_stations/components/PollingStationListPage.test.tsx
  frontend/src/testing/api-mocks/ElectionStatusMockData.ts
  frontend/src/testing/api-mocks/PollingStationMockData.ts
Labels: frontend, tests

#1826 Fix data entry session timeout error
  frontend/src/api/ApiClient.ts
  frontend/src/features/data_entry/components/DataEntrySection.tsx
  frontend/src/features/data_entry/hooks/useDataEntryFormSection.ts
Labels: bug

#1822 Use watch channel instead of a mpsc channel for airgap detection updates
  backend/src/airgap/detect.rs
  backend/tests/utils/mod.rs
Labels: rust

#1851 add DELETE to airgap and authorization integration tests
  backend/tests/airgap_detection_test.rs
  backend/tests/authorization_test.rs
Labels: tests

#1856 Handle abort download by client while streaming a zip
  backend/src/pdf_gen/embedded/mod.rs
  backend/src/pdf_gen/external.rs
  backend/src/zip/write_stream.rs
Labels: rust

#1844 Improve data entry testability
  frontend/src/components/data_entry/subsections/RadioSubsection.stories.tsx
  frontend/src/features/data_entry/components/DataEntryNavigation.test.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.test.tsx
  frontend/src/features/data_entry/components/DataEntryProgress.tsx
  frontend/src/features/data_entry/components/check_and_save/CheckAndSaveForm.test.tsx
  frontend/src/features/data_entry/utils/dataEntryUtils.test.ts
  frontend/src/features/data_entry/utils/dataEntryUtils.ts
  frontend/src/features/data_entry/utils/reducer.test.ts
  frontend/src/features/data_entry/utils/reducer.ts
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/types/types.ts
  frontend/src/utils/dataEntryMapping.test.ts
  frontend/src/utils/dataEntryMapping.ts
  frontend/src/utils/dataEntryStructure.ts
Labels: frontend, tests

#1841 Add form and page to edit number of voters for a committee session
  frontend/src/app/routes.tsx
  frontend/src/components/election/NumberOfVotersForm.stories.tsx
  frontend/src/components/election/NumberOfVotersForm.tsx
  frontend/src/components/ui/InputField/InputField.module.css
  frontend/src/components/ui/InputField/InputField.tsx
  frontend/src/features/election_management/components/ElectionInformationTable.tsx
  frontend/src/features/election_management/components/NumberOfVotersPage.test.tsx
  frontend/src/features/election_management/components/NumberOfVotersPage.tsx
  frontend/src/features/election_management/routes.tsx
  frontend/src/i18n/locales/nl/election_management.json
  frontend/src/testing/api-mocks/RequestHandlers.ts
Labels: frontend

#1867 Style all forms with the same widths constraints
  frontend/src/components/election/NumberOfVotersForm.tsx
  frontend/src/components/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/src/components/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/src/components/ui/Form/FormLayout.module.css
  frontend/src/components/ui/Form/FormLayout.stories.tsx
  frontend/src/components/ui/Form/FormLayout.tsx
  frontend/src/features/users/components/create/UserCreateDetailsForm.tsx
  frontend/src/features/users/components/create/UserCreateRolePage.tsx
  frontend/src/features/users/components/create/UserCreateTypePage.tsx
  frontend/src/features/users/components/update/UserUpdateForm.tsx
Labels: frontend

#1866 Add `deny_unknown_fields` to structs
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/apportionment/candidate_nomination.rs
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/seat_assignment.rs
  backend/src/audit_log/api.rs
  backend/src/audit_log/audit_event.rs
  backend/src/audit_log/audit_log_events.rs
  backend/src/authentication/api.rs
  backend/src/authentication/password.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/src/committee_session/api.rs
  backend/src/committee_session/structs.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/election/api.rs
  backend/src/election/structs.rs
  backend/src/error.rs
  backend/src/pdf_gen/models/model_na_31_2.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/structs.rs
  backend/src/summary/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/election_integration_test.rs
Labels: backend

#1881 Hide dev login links when MSW is enabled
  frontend/src/features/dev/components/DevHomePage.tsx
Labels: frontend
