Repository kiesraad/abacus, pull requests merged in 2025-03, with the labels that each got.

#1099 Add links to epics (GitHub Issues) to planning doc
  documentatie/functionaliteit/planning-2025.md
Labels: documentation

#1103 Account setup api changes
  backend/.sqlx/query-5ebc9c22d5c7c19f7781a215f90ae409cf58b5cb7e3ab7397ce025efa5d9a47e.json
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  backend/src/lib.rs
  backend/tests/account_integration_test.rs
  frontend/app/component/form/user/change_password/ChangePassword.test.tsx
  frontend/app/component/form/user/change_password/ChangePasswordForm.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/account/page/ChangePasswordPage.test.tsx
  frontend/app/module/account/page/ChangePasswordPage.tsx
  frontend/app/routes.tsx
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api/gen/openapi.ts
Labels: backend

#1111 Upgrade to TypeScript 5.8
  frontend/lib/util/compare.ts
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, frontend

#1114 Upgrade to React Router 7.2.0
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#1036 Backend password validation
  backend/.sqlx/query-06c945e50567c6801f1346d436cdc86a82a4e13dd45d8286295ba37cdbdc045e.json
  backend/.sqlx/query-b7831524cb4e52f2970f12032e90bab3c53effb879bf95592e52372ca8e857b0.json
  backend/fixtures/users.sql
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/error.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/password.rs
  backend/src/authentication/user.rs
  backend/src/error.rs
  backend/tests/shared/mod.rs
  backend/tests/user_integration_test.rs
  frontend/app/module/DevHomePage.tsx
  frontend/e2e-tests/authentication.e2e.ts
  frontend/e2e-tests/setup.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/error.json
Labels: backend

#1123 Add Codecov YAML
  codecov.yml
Labels: continuous-integration

#1127 Add and use spyOnHandler to expect MSW handler calls
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/user/login/LoginForm.test.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api-mocks/UserMockData.ts
  frontend/lib/test/server.ts
  frontend/lib/test/test-utils.ts
Labels: frontend

#1135 Move report endpoints to new module
  backend/openapi.json
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/report/api.rs
  backend/src/report/mod.rs
  sigrid.yaml
Labels: backend

#1124 Audit log table + service
  backend/.sqlx/query-56d9e7bf5531c9d88dd4c40dd1d70699c14ded9a134fd299e08bac6d7b579f86.json
  backend/.sqlx/query-8fea7e5c05ac7c228de5665997d0aeb90c32828c1d63803171832a53e2fb0c8c.json
  backend/Cargo.lock
  backend/Cargo.toml
  backend/dev.sh
  backend/migrations/7_audit_log.sql
  backend/src/audit_log/audit_log_events.rs
  backend/src/audit_log/mod.rs
  backend/src/audit_log/service.rs
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/src/bin/abacus.rs
  backend/src/lib.rs
  backend/tests/utils/mod.rs
  sigrid.yaml
Labels: backend

#1144 Add user id to the first and second data entry
  backend/src/data_entry/api.rs
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
Labels: backend

#964 Simplify data entry forms
  frontend/app/component/form/data_entry/DataEntryNavigation.tsx
  frontend/app/component/form/data_entry/DataEntryProgress.tsx
  frontend/app/component/form/data_entry/PollingStationControllerContext.tsx
  frontend/app/component/form/data_entry/PollingStationFormController.test.tsx
  frontend/app/component/form/data_entry/PollingStationFormController.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/candidates_votes/candidatesVotesValues.ts
  frontend/app/component/form/data_entry/candidates_votes/useCandidateVotes.ts
  frontend/app/component/form/data_entry/candidates_votes/usePoliticalGroups.ts
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/differences/differencesValues.ts
  frontend/app/component/form/data_entry/differences/useDifferences.ts
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/recounted/useRecounted.ts
  frontend/app/component/form/data_entry/state/DataEntryContext.ts
  frontend/app/component/form/data_entry/state/DataEntryProvider.tsx
  frontend/app/component/form/data_entry/state/actions.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
  frontend/app/component/form/data_entry/state/reducer.test.ts
  frontend/app/component/form/data_entry/state/reducer.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/state/useDataEntryContext.ts
  frontend/app/component/form/data_entry/state/useDataEntryNavigation.ts
  frontend/app/component/form/data_entry/state/useInitialDataEntryState.ts
  frontend/app/component/form/data_entry/test.util.ts
  frontend/app/component/form/data_entry/usePollingStationFormController.ts
  frontend/app/component/form/data_entry/useWatchForChanges.test.ts
  frontend/app/component/form/data_entry/useWatchForChanges.ts
  frontend/app/component/form/data_entry/utils.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/useVotersAndVotes.ts
  frontend/app/component/form/data_entry/voters_and_votes/votersAndVotesValues.ts
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/module/data_entry/AbortDataEntryControl.tsx
  frontend/app/module/data_entry/DataEntry.integration.test.tsx
  frontend/app/module/data_entry/DataEntryLayout.tsx
  frontend/app/module/data_entry/index.ts
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.test.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryModal.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/data_entry/polling_station/index.ts
  frontend/app/routes.tsx
  frontend/e2e-tests/resume-data-entry.e2e.ts
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.tsx
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/Modal/Modal.tsx
  frontend/lib/ui/NumberInput/NumberInput.tsx
  frontend/lib/util/format.ts
  sigrid.yaml
Labels: frontend

#1163 Remove `development_create_user` endpoint
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/lib.rs
Labels: backend

#1164 Update dev home page
  frontend/app/module/DevHomePage.tsx
Labels: frontend

#1159 Remove client side password validation from user management pages
  frontend/app/module/users/create/UserCreate.test.tsx
  frontend/app/module/users/create/UserCreateContext.tsx
  frontend/app/module/users/create/UserCreateContextProvider.tsx
  frontend/app/module/users/create/UserCreateDetailsForm.test.tsx
  frontend/app/module/users/create/UserCreateDetailsForm.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.test.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.tsx
  frontend/app/module/users/update/UserDelete.test.tsx
  frontend/app/module/users/update/UserDelete.tsx
  frontend/app/module/users/update/UserUpdateForm.test.tsx
  frontend/app/module/users/update/UserUpdateForm.tsx
  frontend/app/module/users/update/UserUpdatePage.tsx
  frontend/app/module/users/update/useUserUpdate.ts
  frontend/app/module/users/validatePassword.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/i18n/locales/nl/users.json
Labels: frontend

#1169 Rename PollingStationSummary to DataEntrySummary
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
Labels: frontend

#1160 Serialize and deserialize 110a and 110b EML files
  backend/src/election/structs.rs
  backend/src/eml/common.rs
  backend/src/eml/eml_110.rs
  backend/src/eml/eml_510.rs
  backend/src/eml/mod.rs
  backend/src/eml/tests/eml110a_test.eml.xml
  backend/src/eml/tests/eml110b_test.eml.xml
  backend/src/eml/util.rs
Labels: backend

#1168 Move data entry mock data and utils
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/state/reducer.test.ts
  frontend/app/component/form/data_entry/test-data/index.ts
  frontend/app/component/form/data_entry/test-data/mock-data.ts
  frontend/app/component/form/data_entry/test-data/test.utils.ts
  frontend/app/component/form/data_entry/test.util.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/data_entry/DataEntry.integration.test.tsx
Labels: frontend

#1173 Replace get data entry endpoint by claim endpoint
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/lib.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  documentatie/flowcharts/data-entry-state.md
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.test.tsx
  frontend/app/component/form/data_entry/state/reducer.test.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/component/form/data_entry/state/useInitialDataEntryState.ts
  frontend/app/component/form/data_entry/test-data/test.utils.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/module/data_entry/DataEntry.integration.test.tsx
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/test-data/request-response-templates.ts
  frontend/lib/api-mocks/DataEntryMockData.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/api/gen/openapi.ts
Labels: backend, frontend

#1179 Update `gen:openapi` script
  documentatie/softwarearchitectuur/frontend-structuur.md
  frontend/lib/api/gen/openapi.ts
  frontend/package.json
  frontend/scripts/gen_openapi.ts
  frontend/scripts/gen_openapi_types.ts
  frontend/scripts/openapi/generator.ts
Labels: frontend

#1171 extend model-based e2e tests with errors and warnings
  frontend/e2e-tests/data-entry.error.model.e2e.ts
  frontend/e2e-tests/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
Labels: tests

#1172 Reduce boilerplate for data entry form sections
  frontend/app/component/form/data_entry/candidates_votes/useCandidateVotes.ts
  frontend/app/component/form/data_entry/differences/useDifferences.ts
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/recounted/useRecounted.ts
  frontend/app/component/form/data_entry/state/useDataEntryFormSection.ts
  frontend/app/component/form/data_entry/voters_and_votes/useVotersAndVotes.ts
Labels: frontend

#1177 Add user ids to election status endpoint
  backend/openapi.json
  backend/src/data_entry/api.rs
  backend/src/data_entry/repository.rs
  backend/tests/data_entries_integration_test.rs
  frontend/app/component/election/status/ElectionStatus.stories.tsx
  frontend/app/component/election/status/ElectionStatus.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/lib/api/gen/openapi.ts
Labels: backend, frontend

#1187 Rename and restructure api hooks
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
  frontend/app/component/form/data_entry/state/useDataEntry.ts
  frontend/app/module/users/update/UserUpdatePage.tsx
  frontend/app/module/users/useUserListRequest.ts
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/api/ApiClient.ts
  frontend/lib/api/ApiProvider.tsx
  frontend/lib/api/ApiProviderContext.tsx
  frontend/lib/api/ApiRequestState.ts
  frontend/lib/api/ApiResponseStatus.ts
  frontend/lib/api/ApiResult.ts
  frontend/lib/api/RequestStateHandler.tsx
  frontend/lib/api/TestUserProvider.tsx
  frontend/lib/api/api.types.ts
  frontend/lib/api/apportionment/ApportionmentProvider.tsx
  frontend/lib/api/apportionment/useApportionmentRequest.ts
  frontend/lib/api/index.ts
  frontend/lib/api/log/useAuditLog.ts
  frontend/lib/api/polling_station/usePollingStationGet.ts
  frontend/lib/api/polling_station/usePollingStationListRequest.ts
  frontend/lib/api/useApiClient.ts
  frontend/lib/api/useApiRequest.ts
  frontend/lib/api/useApiState.ts
  frontend/lib/api/useCrud.ts
  frontend/lib/api/useElectionDataRequest.ts
  frontend/lib/api/useElectionListRequest.ts
  frontend/lib/api/useElectionStatusRequest.ts
  frontend/lib/api/useInitialApiGet.ts
  frontend/lib/api/useSessionState.ts
  frontend/lib/api/useUser.ts
  frontend/lib/ui/InputGrid/InputGridRow.test.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
Labels: frontend

#1199 Add use case for adding users
  documentatie/use-cases/beheerder.md
Labels: documentation

#1200 scroll to top if errors
  frontend/app/component/form/data_entry/state/useDataEntryFormSection.ts
Labels: enhancement, frontend

#1198 Use `OpenApiRouter` from `utoipa-axum`
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi.json
  backend/src/apportionment/api.rs
  backend/src/audit_log/api.rs
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/bin/gen-openapi.rs
  backend/src/data_entry/api.rs
  backend/src/election/mod.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/src/report/api.rs
  backend/tests/authorization_test.rs
  frontend/lib/api/gen/openapi.ts
Labels: backend

#1205 Add tests to check that the accept warnings checkbox disappears
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/lib/i18n/locales/nl/candidates_votes.json
  frontend/lib/i18n/locales/nl/data_entry.json
  frontend/lib/i18n/locales/nl/differences.json
  frontend/lib/i18n/locales/nl/voters_and_votes.json
  frontend/lib/ui/Alert/Alert.tsx
Labels: tests

#1209 Extend and use errorWarningMocks
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/test-data/mock-data.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
Labels: frontend

#1213 Refactor data entry validation handling
  frontend/app/component/form/data_entry/DataEntryProgress.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/app/component/form/data_entry/candidates_votes/CandidatesVotesForm.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/app/component/form/data_entry/differences/DifferencesForm.tsx
  frontend/app/component/form/data_entry/recounted/RecountedForm.tsx
  frontend/app/component/form/data_entry/state/ValidationResults.test.ts
  frontend/app/component/form/data_entry/state/ValidationResults.ts
  frontend/app/component/form/data_entry/state/actions.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.test.ts
  frontend/app/component/form/data_entry/state/dataEntryUtils.ts
  frontend/app/component/form/data_entry/state/types.ts
  frontend/app/component/form/data_entry/state/useDataEntryFormSection.ts
  frontend/app/component/form/data_entry/test-data/mock-data.ts
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/app/component/form/data_entry/voters_and_votes/VotersAndVotesForm.tsx
  frontend/app/module/data_entry/DataEntry.integration.test.tsx
  frontend/e2e-tests/data-entry.e2e.ts
  frontend/e2e-tests/helpers-utils/e2e-test-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/CandidatesListPgObj.ts
  frontend/e2e-tests/resume-data-entry.e2e.ts
  frontend/lib/test/test-utils.ts
  frontend/lib/ui/InputGrid/InputGridRow.test.tsx
  frontend/lib/ui/InputGrid/InputGridRow.tsx
  frontend/lib/ui/ui.types.d.ts
  frontend/lib/util/fields.test.ts
  frontend/lib/util/fields.ts
  frontend/lib/util/index.ts
Labels: frontend

#1212 Do not hide error as soon as accept warnings is checked
  frontend/src/components/form/data_entry/candidates_votes/CandidatesVotesForm.test.tsx
  frontend/src/components/form/data_entry/differences/DifferenceForm.test.tsx
  frontend/src/components/form/data_entry/state/useDataEntryFormSection.ts
  frontend/src/components/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
Labels: frontend

#1217 Data entry reducer cleanup
  frontend/src/components/form/data_entry/state/dataEntryUtils.ts
  frontend/src/components/form/data_entry/state/reducer.test.ts
  frontend/src/components/form/data_entry/state/reducer.ts
  frontend/src/components/form/data_entry/state/types.ts
  frontend/src/components/form/data_entry/state/useInitialDataEntryState.ts
Labels: frontend

#1227 Add second typist user to fixtures
  backend/fixtures/users.sql
  backend/src/authentication/mod.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/shared/mod.rs
  backend/tests/user_integration_test.rs
  frontend/src/features/DevHomePage.tsx
Labels: backend

#1229 Restructure feature users
  frontend/src/features/users/components/UserListPage.test.tsx
  frontend/src/features/users/components/UserListPage.tsx
  frontend/src/features/users/components/create/UserCreate.test.tsx
  frontend/src/features/users/components/create/UserCreateContextProvider.tsx
  frontend/src/features/users/components/create/UserCreateDetailsForm.test.tsx
  frontend/src/features/users/components/create/UserCreateDetailsForm.tsx
  frontend/src/features/users/components/create/UserCreateDetailsPage.test.tsx
  frontend/src/features/users/components/create/UserCreateDetailsPage.tsx
  frontend/src/features/users/components/create/UserCreateLayout.tsx
  frontend/src/features/users/components/create/UserCreateRolePage.test.tsx
  frontend/src/features/users/components/create/UserCreateRolePage.tsx
  frontend/src/features/users/components/create/UserCreateTypePage.test.tsx
  frontend/src/features/users/components/create/UserCreateTypePage.tsx
  frontend/src/features/users/components/update/UserDelete.test.tsx
  frontend/src/features/users/components/update/UserDelete.tsx
  frontend/src/features/users/components/update/UserUpdateForm.test.tsx
  frontend/src/features/users/components/update/UserUpdateForm.tsx
  frontend/src/features/users/components/update/UserUpdatePage.test.tsx
  frontend/src/features/users/components/update/UserUpdatePage.tsx
  frontend/src/features/users/create/index.ts
  frontend/src/features/users/hooks/UserCreateContext.tsx
  frontend/src/features/users/hooks/useQueryParam.test.tsx
  frontend/src/features/users/hooks/useQueryParam.ts
  frontend/src/features/users/hooks/useUserCreateContext.ts
  frontend/src/features/users/hooks/useUserListRequest.ts
  frontend/src/features/users/index.ts
  frontend/src/features/users/update/index.ts
  frontend/src/lib/util/hook/index.ts
  frontend/src/routes.tsx
Labels: frontend

#1237 Simplify number formatting functions
  frontend/src/lib/util/format.ts
Labels: frontend

#1254 Update woordenlijst zetelverdeling
  documentatie/referentie/woordenlijst-EN-NL.md
Labels: documentation

#1252 Added data entry difference state transitions
  documentatie/flowcharts/data-entry-state.md
Labels: documentation

#1255 Remove outdated milestone and planning documents
  documentatie/functionaliteit/functionaliteit-eisen-en-wensen.md
  documentatie/functionaliteit/milestone-2024-09.md
  documentatie/functionaliteit/milestone-2024-12.md
  documentatie/functionaliteit/planning-2025.md
Labels: documentation

#1207 Art P 10 Kieswet: List exhaustion
  backend/fixtures/election_4.sql
  backend/fixtures/election_5.sql
  backend/openapi.json
  backend/src/apportionment/candidate_nomination.rs
  backend/src/apportionment/mod.rs
  backend/src/apportionment/seat_assignment.rs
  backend/src/data_entry/api.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/error.rs
  backend/src/summary/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/src/api/gen/openapi.ts
  frontend/src/features/apportionment/components/Apportionment.stories.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesFor19OrMoreSeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesForLessThan19SeatsTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/HighestAveragesForLessThan19SeatsTable.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.test.tsx
  frontend/src/features/apportionment/components/residual_seats/LargestRemaindersTable.tsx
  frontend/src/features/apportionment/testing/19-or-more-seats.ts
  frontend/src/features/apportionment/testing/absolute-majority-change.ts
  frontend/src/features/apportionment/testing/less-than-19-seats.ts
  frontend/src/lib/i18n/locales/nl/apportionment.json
  frontend/src/lib/i18n/locales/nl/error.json
Labels: backend

#1259 Fix flaky e2e tests
  frontend/e2e-tests/data-entry.e2e.ts
  frontend/e2e-tests/data-entry.error.model.e2e.ts
  frontend/e2e-tests/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
  frontend/e2e-tests/resume-data-entry.e2e.ts
  frontend/playwright.common.config.ts
  frontend/playwright.e2e.config.ts
  frontend/playwright.ladle.config.ts
Labels: bug

#1272 Move and restructure election components
  frontend/src/api/election/index.ts
  frontend/src/api/index.ts
  frontend/src/app/DevHomePage.test.tsx
  frontend/src/app/DevHomePage.tsx
  frontend/src/app/ElectionLayout.tsx
  frontend/src/components/election/status/mockData.ts
  frontend/src/components/election_status_with_icon/ElectionStatusWithIcon.test.tsx
  frontend/src/components/election_status_with_icon/ElectionStatusWithIcon.tsx
  frontend/src/components/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/src/components/form/data_entry/state/reducer.test.ts
  frontend/src/components/form/data_entry/voters_and_votes/VotersAndVotesForm.test.tsx
  frontend/src/features/data_entry/components/DataEntryHomePage.tsx
  frontend/src/features/data_entry/components/ElectionProgress.test.tsx
  frontend/src/features/data_entry/components/ElectionProgress.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
  frontend/src/features/election_management/components/ElectionReportPage.module.css
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.tsx
  frontend/src/features/election_overview/components/OverviewLayout.tsx
  frontend/src/features/election_overview/components/OverviewPage.test.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/features/election_overview/hooks/ElectionListProvider.tsx
  frontend/src/features/election_overview/hooks/ElectionListProviderContext.tsx
  frontend/src/features/election_overview/hooks/useElectionList.ts
  frontend/src/features/election_overview/hooks/useElectionListRequest.test.ts
  frontend/src/features/election_overview/hooks/useElectionListRequest.ts
  frontend/src/features/election_status/components/ElectionStatus.module.css
  frontend/src/features/election_status/components/ElectionStatus.stories.tsx
  frontend/src/features/election_status/components/ElectionStatus.test.tsx
  frontend/src/features/election_status/components/ElectionStatus.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.test.tsx
  frontend/src/features/election_status/components/ElectionStatusPage.tsx
  frontend/src/routes.test.tsx
  frontend/src/routes.tsx
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/ElectionStatusMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
  sigrid.yaml
Labels: frontend

#1276 updates doc zetelverdeling based on formele beschrijving Dec24
  documentatie/verkiezingsproces/zetelverdeling-GR.md
Labels: documentation

#1284 Add ESLint unidirectional codebase rules
  frontend/.eslintrc.cjs
  frontend/src/app/AdministratorLayout.tsx
  frontend/src/app/DevHomePage.tsx
  frontend/src/app/ErrorBoundary.tsx
  frontend/src/app/FatalErrorPage.tsx
  frontend/src/app/MockTest.tsx
  frontend/src/app/NotAvailableInMock.tsx
  frontend/src/app/NotFoundPage.tsx
  frontend/src/app/RootLayout.tsx
  frontend/src/app/routes.test.tsx
  frontend/src/app/routes.tsx
  frontend/src/components/authorization/AuthorizationDialog.test.tsx
  frontend/src/features/apportionment/components/ApportionmentPage.test.tsx
  frontend/src/features/apportionment/components/full_seats/ApportionmentFullSeatsPage.test.tsx
  frontend/src/features/apportionment/components/residual_seats/ApportionmentResidualSeatsPage.test.tsx
  frontend/src/features/data_entry/DataEntry.integration.test.tsx
  frontend/src/features/data_entry/components/DataEntryHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionReportPage.test.tsx
  frontend/src/features/users/components/create/UserCreate.test.tsx
  frontend/src/main.tsx
Labels: frontend
