Repository kiesraad/abacus, pull requests merged in 2025-02, with the labels that each got.

#914 Document current frontend folder structure
  documentatie/softwarearchitectuur/frontend-structuur.md
Labels: documentation, frontend

#958 Update `rand` to 0.9.0
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/authentication/util.rs
Labels: dependencies, backend, rust

#959 Use `election_1.sql` fixture in builds
  backend/src/fixtures.rs
Labels: backend

#916 Move breadcrumbs/links logic into `NavBar`
  frontend/app/component/navbar/NavBar.module.css
  frontend/app/component/navbar/NavBar.stories.tsx
  frontend/app/component/navbar/NavBar.test.tsx
  frontend/app/component/navbar/NavBar.tsx
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/module/AdministratorLayout.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/FatalErrorPage.tsx
  frontend/app/module/NotAvailableInMock.tsx
  frontend/app/module/NotFoundPage.tsx
  frontend/app/module/account/LoginLayout.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.test.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
  frontend/app/module/election/ElectionLayout.tsx
  frontend/app/module/election/page/ElectionHomePage.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/app/module/users/UsersHomePage.tsx
  frontend/app/module/workstations/WorkstationsHomePage.tsx
  frontend/vitest.config.ts
Labels: frontend

#962 Make user last_activity_at optional
  backend/.sqlx/query-2fff3407d5768d14d3181030f676b03719259f34154cfc9ebafbd81b36924cc5.json
  backend/.sqlx/query-368296a27d9de937f8ff76e1fb84c566354272c47f216edcc072603f6d67849d.json
  backend/.sqlx/query-459b318b484c7b41f85e4caf12efbee9807f3dcf2809923ca4f95bf9a87bd4bf.json
  backend/.sqlx/query-7fd4b2b5bfa83df14cbb3de7167dea4c55cec019ddf68d11516035199d35d204.json
  backend/migrations/5_users.sql
  backend/openapi.json
  backend/src/authentication/user.rs
  frontend/lib/api/gen/openapi.ts
Labels: backend

#967 Add fullname to fixture user
  backend/fixtures/users.sql
Labels: backend

#972 Use `/dev` as index page
  frontend/app/module/DevHomePage.tsx
  frontend/app/routes.test.tsx
  frontend/app/routes.tsx
Labels: frontend

#970 shorten 'Over de Kiesraad' in our README
  README.md
Labels: documentation

#986 Requirements for stricter separation GSB/CSB
  documentatie/functionaliteit/versie-1.0-gr2026.md
  documentatie/use-cases/autorisatiematrix.md
Labels: documentation

#982 Prevent truncation of integers
  backend/Cargo.toml
  backend/src/apportionment/mod.rs
  backend/src/data_entry/structs.rs
  backend/src/election/structs.rs
  backend/src/pdf_gen/mod.rs
Labels: backend

#993 Simplify `deformatNumber` function
  frontend/lib/util/format.test.ts
  frontend/lib/util/format.ts
Labels: frontend

#992 Remove database reset endpoint
  backend/fixtures/reset.sql
  backend/src/fixtures.rs
  backend/src/lib.rs
Labels: backend, tests

#984 Create user frontend
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/app/module/users/UserListPage.tsx
  frontend/app/module/users/UsersHomePage.tsx
  frontend/app/module/users/create/UserCreateContext.tsx
  frontend/app/module/users/create/UserCreateContextProvider.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.test.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.tsx
  frontend/app/module/users/create/UserCreateLayout.tsx
  frontend/app/module/users/create/UserCreateRolePage.test.tsx
  frontend/app/module/users/create/UserCreateRolePage.tsx
  frontend/app/module/users/create/UserCreateTypePage.test.tsx
  frontend/app/module/users/create/UserCreateTypePage.tsx
  frontend/app/module/users/create/index.ts
  frontend/app/module/users/create/useUserCreateContext.ts
  frontend/app/module/users/index.ts
  frontend/app/routes.tsx
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/nl.ts
  frontend/lib/i18n/locales/nl/user.json
  frontend/lib/i18n/locales/nl/users.json
  frontend/lib/ui/Form/FormLayout.module.css
  frontend/lib/ui/Form/FormLayout.tsx
  frontend/lib/ui/Toolbar/Toolbar.module.css
Labels: frontend

#969 Fix PDF for empty polling station type
  backend/templates/model-na-31-2.typ
Labels: backend

#1018 OpenAPI TS generator: no required array means all fields are optional
  frontend/scripts/openapi/generator.ts
Labels: bug

#994 Add hamburger menu to navigation bar
  documentatie/style-guide/icons.md
  frontend/app/component/navbar/NavBar.module.css
  frontend/app/component/navbar/NavBar.stories.tsx
  frontend/app/component/navbar/NavBar.test.tsx
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/app/component/navbar/NavBarMenu.tsx
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/icon/README.md
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/compass.svg
  frontend/lib/icon/svg/file.svg
  frontend/lib/icon/svg/hamburger.svg
  frontend/lib/icon/svg/laptop.svg
  frontend/lib/icon/svg/users.svg
  frontend/lib/ui/style/variables.css
Labels: frontend

#1024 Custom matcher toHaveTableContent spaces between elements
  frontend/app/component/election/status/ElectionStatus.test.tsx
  frontend/lib/test/matchers.test.tsx
  frontend/lib/test/matchers.ts
Labels: frontend

#1023 Remove workstation numbers for now
  frontend/app/module/account/page/AccountSetupPage.tsx
  frontend/app/module/account/page/ChangePasswordPage.tsx
  frontend/app/module/account/page/LoginPage.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
  frontend/app/module/election/page/OverviewPage.tsx
Labels: frontend

#990 Some improvements to Tables and OverviewPage
  frontend/app/component/election/status/ElectionStatus.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationsList.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/app/module/election/page/OverviewPage.test.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/users/UserListPage.tsx
  frontend/lib/api/election/ElectionListProvider.tsx
  frontend/lib/i18n/locales/nl/election.json
  frontend/lib/i18n/locales/nl/polling_station_choice.json
  frontend/lib/icon/generated.tsx
  frontend/lib/icon/svg/chevronRight.svg
  frontend/lib/ui/Alert/Alert.module.css
  frontend/lib/ui/ProgressList/ProgressList.module.css
  frontend/lib/ui/StatusList/StatusList.module.css
  frontend/lib/ui/Table/Table.module.css
  frontend/lib/ui/Table/Table.stories.tsx
  frontend/lib/ui/Table/Table.tsx
Labels: frontend

#1017 update use cases based on session 10Feb25
  documentatie/use-cases/csb-zetelverdeling-aanwijzing-kandidaten.md
  documentatie/use-cases/gsb-genereren-bestanden.md
  documentatie/use-cases/installeren-en-inrichten-applicatie.md
  documentatie/use-cases/invoer-eerste-zitting.md
  documentatie/use-cases/invoer-tweede-zitting.md
  documentatie/use-cases/uiterste-use-cases.md
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Labels: documentation

#1011 Add user update endpoint
  backend/.sqlx/query-0e35a83fbd9993d84dbfd315100d10eb8cf504d44cba4655467e8f8fe64830f5.json
  backend/.sqlx/query-28772ab9ee9a7b53b9c97e0bfc4b20ac1f50f42dca01adc54144cd61e29a7527.json
  backend/.sqlx/query-61b0e8a16b640ae07af52ebea821a1cece65697b55ce375676c2bd226c41ef41.json
  backend/.sqlx/query-898c7bfbde1fb9181831c984bf458953ba49715666e9ae3a571b3527d5cb0a63.json
  backend/.sqlx/query-b7be33a8aa30f23c0a7b70b4d3d60aedec56f615a337ae43298472f96f9f4799.json
  backend/.sqlx/query-bfed7c5d32b9ceb33d4b2593934d3a9f73326abc08ae42052c8e91480a6904df.json
  backend/.sqlx/query-e4eb622073cbdf868ec1568a6bdb132e962480b0530d542102c05aa9e901463b.json
  backend/.sqlx/query-ef802d3c7ac886b0e1b0578c21866cc533b41528468e3884dd0f396bec9ba6ec.json
  backend/migrations/5_users.sql
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
Labels: backend

#1032 adds 'context' section to description of apportionment
  documentatie/verkiezingsproces/zetelverdeling-GR.md
Labels: documentation

#1031 Radio/checkbox: Include description in label, set correct label styling
  frontend/app/module/users/create/UserCreateRolePage.test.tsx
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.tsx
Labels: frontend

#1042 limit download of artifacts to builds in release job
  .github/workflows/release.yml
Labels: bug

#1013 Added update user last_activity_at
  backend/.sqlx/query-d497354da4f500c7e45a0a26469d552e624b12b61ed0f31fb03f84460413f24d.json
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/user.rs
  backend/tests/shared/mod.rs
  backend/tests/user_integration_test.rs
Labels: backend

#1053 Use cases 17-18 feb 25
  documentatie/use-cases/beheerder.md
  documentatie/use-cases/csb-zetelverdeling-aanwijzing-kandidaten.md
  documentatie/use-cases/csb-zitting.md
  documentatie/use-cases/gsb-eerste-zitting.md
  documentatie/use-cases/gsb-genereren-bestanden.md
  documentatie/use-cases/gsb-invoer-eerste-zitting.md
  documentatie/use-cases/gsb-invoer-tweede-zitting.md
  documentatie/use-cases/gsb-tweede-zitting.md
  documentatie/use-cases/template-use-case.md
  documentatie/use-cases/uiterste-use-cases.md
Labels: documentation

#1055 Use variable fonts in WOFF2 format for frontend
  frontend/lib/ui/style/variables.css
  frontend/static/font/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf
  frontend/static/font/DM_Sans/DMSans-VariableFont_opsz,wght.ttf
  frontend/static/font/DM_Sans/DMSans[opsz,wght].woff2
  frontend/static/font/Geist_Mono/GeistMono-Regular.otf
  frontend/static/font/Geist_Mono/GeistMonoVF.ttf
  frontend/static/font/Geist_Mono/GeistMono[wght].woff2
  frontend/static/font/Geist_Mono/LICENSE
  frontend/static/font/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf
  frontend/static/font/Space_Grotesk/SpaceGrotesk[wght].woff2
Labels: frontend

#1027 Save user to backend
  frontend/app/component/navbar/NavBar.test.tsx
  frontend/app/component/navbar/NavBarLinks.tsx
  frontend/app/module/users/UserListPage.test.tsx
  frontend/app/module/users/UserListPage.tsx
  frontend/app/module/users/create/UserCreate.test.tsx
  frontend/app/module/users/create/UserCreateContext.tsx
  frontend/app/module/users/create/UserCreateContextProvider.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.test.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.tsx
  frontend/app/module/users/create/UserCreateRolePage.test.tsx
  frontend/app/module/users/create/UserCreateRolePage.tsx
  frontend/app/module/users/create/UserCreateTypePage.test.tsx
  frontend/app/module/users/create/UserCreateTypePage.tsx
  frontend/e2e-tests/authentication.e2e.ts
  frontend/e2e-tests/helpers-utils/e2e-test-utils.ts
  frontend/e2e-tests/page-objects/users/UserCreateDetailsPgObj.ts
  frontend/e2e-tests/page-objects/users/UserCreateRolePgObj.ts
  frontend/e2e-tests/page-objects/users/UserCreateTypePgObj.ts
  frontend/e2e-tests/page-objects/users/UserListPgObj.ts
  frontend/e2e-tests/users.e2e.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/api-mocks/index.ts
  frontend/lib/i18n/locales/nl/users.json
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.stories.tsx
  frontend/lib/util/hook/index.ts
  frontend/lib/util/hook/useQueryParam.test.tsx
  frontend/lib/util/hook/useQueryParam.ts
Labels: frontend

#1026 Uitbreiding woordenlijst
  documentatie/referentie/woordenlijst-EN-NL.md
Labels: documentation

#1057 Upgrade to Typst 0.13.0
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/pdf_gen/models/mod.rs
  backend/src/pdf_gen/world.rs
  backend/templates/common/scripts.typ
Labels: backend

#1061 Migrate to Rust 2024 edition
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/apportionment/api.rs
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/authentication/api.rs
  backend/src/authentication/mod.rs
  backend/src/authentication/password.rs
  backend/src/authentication/session.rs
  backend/src/authentication/user.rs
  backend/src/authentication/util.rs
  backend/src/bin/abacus.rs
  backend/src/data_entry/mod.rs
  backend/src/data_entry/repository.rs
  backend/src/data_entry/status.rs
  backend/src/data_entry/structs.rs
  backend/src/data_entry/validation.rs
  backend/src/election/mod.rs
  backend/src/election/repository.rs
  backend/src/eml/axum.rs
  backend/src/eml/base.rs
  backend/src/error.rs
  backend/src/lib.rs
  backend/src/pdf_gen/mod.rs
  backend/src/pdf_gen/world.rs
  backend/src/polling_station/mod.rs
  backend/src/polling_station/repository.rs
  backend/src/polling_station/structs.rs
  backend/src/summary/mod.rs
  backend/tests/apportionment_integration_test.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  backend/tests/user_integration_test.rs
Labels: backend, rust

#1088 Wait for data-storyloaded in Ladle e2e tests
  frontend/.eslintrc.cjs
  frontend/lib/ui/Badge/Badge.e2e.ts
  frontend/lib/ui/BottomBar/BottomBar.e2e.ts
  frontend/lib/ui/Button/Button.e2e.ts
  frontend/lib/ui/InputField/InputField.e2e.ts
  frontend/lib/ui/InputGrid/InputGrid.e2e.ts
  frontend/playwright.ladle.config.ts
Labels: tests

#1086 Add update user form and page
  frontend/app/module/users/UserListPage.tsx
  frontend/app/module/users/create/UserCreateDetailsPage.tsx
  frontend/app/module/users/index.ts
  frontend/app/module/users/update/UserUpdateForm.test.tsx
  frontend/app/module/users/update/UserUpdateForm.tsx
  frontend/app/module/users/update/UserUpdatePage.test.tsx
  frontend/app/module/users/update/UserUpdatePage.tsx
  frontend/app/module/users/update/index.ts
  frontend/app/module/users/update/useUserUpdate.ts
  frontend/app/module/users/validatePassword.ts
  frontend/app/routes.tsx
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/i18n/locales/nl/users.json
  frontend/lib/ui/Form/FormLayout.module.css
  frontend/lib/ui/Form/FormLayout.tsx
Labels: frontend

#1089 Update planning 2025
  documentatie/functionaliteit/planning-2025.md
Labels: documentation

#1087 Delete user endpoint
  backend/.sqlx/query-340567823a65df0bc39149b345d334fdf52aac79a926c429961fdc980338d84e.json
  backend/openapi.json
  backend/src/authentication/api.rs
  backend/src/authentication/user.rs
  backend/src/lib.rs
  backend/tests/user_integration_test.rs
  frontend/lib/api/gen/openapi.ts
Labels: backend

#1093 Delete user, frontend
  frontend/app/module/users/UserListPage.tsx
  frontend/app/module/users/update/UserDelete.test.tsx
  frontend/app/module/users/update/UserDelete.tsx
  frontend/app/module/users/update/UserUpdatePage.test.tsx
  frontend/app/module/users/update/UserUpdatePage.tsx
  frontend/app/module/users/update/useUserUpdate.ts
  frontend/e2e-tests/fixtures.ts
  frontend/e2e-tests/page-objects/users/UserDeleteModalPgObj.ts
  frontend/e2e-tests/page-objects/users/UserListPgObj.ts
  frontend/e2e-tests/page-objects/users/UserUpdatePgObj.ts
  frontend/e2e-tests/users.e2e.ts
  frontend/lib/api-mocks/RequestHandlers.ts
  frontend/lib/i18n/locales/nl/users.json
Labels: frontend

#1102 Logged in users are now deletable
  backend/migrations/6_sessions.sql
  backend/tests/user_integration_test.rs
Labels: bug, backend
