Repository kiesraad/abacus, pull requests merged in 2025-08, with the labels that each got.

#1860 Add number of voters and counting method to backend for EML import
  backend/openapi.json
  backend/src/election/api.rs
  frontend/src/types/generated/openapi.ts
Labels: backend

#1901 Improve NavBar page object
  frontend/e2e-tests/page-objects/authentication/AccountSetupPgObj.ts
  frontend/e2e-tests/page-objects/authentication/LoginPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryBasePgObj.ts
  frontend/e2e-tests/page-objects/election/OverviewPgObj.ts
  frontend/e2e-tests/page-objects/nav_bar/AdminNavBarPgObj.ts
  frontend/e2e-tests/page-objects/nav_bar/TypistNavBarPgObj.ts
  frontend/e2e-tests/page-objects/users/UserListPgObj.ts
  frontend/e2e-tests/tests/authentication.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.error.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.valid.model.e2e.ts
  frontend/e2e-tests/tests/data-entry/data-entry.warning.model.e2e.ts
  frontend/e2e-tests/tests/election-create.e2e.ts
Labels: tests

#1931 Do not use camelCase for audit log api
  backend/openapi.json
  backend/src/audit_log/api.rs
  backend/src/audit_log/audit_event.rs
  backend/src/audit_log/audit_log_events.rs
  backend/src/data_entry/api.rs
  frontend/src/app/AuthorizationDialog.test.tsx
  frontend/src/features/logs/components/LogDetailsModal.tsx
  frontend/src/features/logs/components/LogsTable.tsx
  frontend/src/i18n/locales/nl/log.json
  frontend/src/testing/api-mocks/LogMockData.ts
  frontend/src/types/generated/openapi.ts
Labels: backend

#1935 Updated resolve differences view
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.test.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferencesTables.tsx
  frontend/src/features/resolve_differences/testing/polling-station-results.ts
  frontend/src/i18n/locales/nl/extra_investigation.json
Labels: frontend

#1956 Implement design for create first election page
  frontend/src/features/election_overview/components/OverviewPage.test.tsx
  frontend/src/features/election_overview/components/OverviewPage.tsx
  frontend/src/i18n/locales/nl/election.json
Labels: frontend

#1967 Fix candidate list (EML230b) parsing when countries are included
  backend/src/eml/common.rs
  backend/src/eml/eml_230.rs
  backend/src/eml/tests/eml230b_test.eml.xml
  backend/tests/election_admin_integration_tests.rs
  frontend/e2e-tests/test-data/eml-files.ts
Labels: bug, backend

#1971 Add mocks and handlers for the import election flow
  frontend/src/testing/api-mocks/ElectionMockData.ts
  frontend/src/testing/api-mocks/RequestHandlers.ts
Labels: frontend

#1898 Fixed resolve differences and errors styling
  frontend/src/features/resolve_differences/components/DifferencesTable.tsx
  frontend/src/features/resolve_differences/components/ResolveDifferences.module.css
  frontend/src/features/resolve_differences/components/ResolveDifferencesPage.tsx
  frontend/src/features/resolve_errors/components/ResolveErrors.module.css
  frontend/src/features/resolve_errors/components/ResolveErrorsIndexPage.tsx
Labels: frontend

#1981 Prevent password from showing on first login
  frontend/src/features/account/components/FirstLoginForm.tsx
Labels: frontend

#2020 Typo in typst template
  backend/templates/model-na-31-2.typ
Labels: typst

#2031 clarify how to calculate W.203
  documentatie/use-cases/validatieregels-plausibiliteitschecks-tellingen.md
Labels: documentation

#2032 Show empty documents only in first committee session
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionHomePage.tsx
Labels: frontend

#2033 storybook tests for Alert component
  frontend/src/components/ui/Alert/Alert.stories.tsx
Labels: frontend

#2022 Fix default paragraph line-height
  frontend/src/components/ui/Alert/Alert.module.css
  frontend/src/styles/typography.css
Labels: frontend

#2029 wrap committee session cards on election home page
  frontend/src/features/election_management/components/CommitteeSessionCard.tsx
  frontend/src/features/election_management/components/ElectionHomePage.test.tsx
  frontend/src/features/election_management/components/ElectionManagement.module.css
  frontend/src/testing/api-mocks/CommitteeSessionMockData.ts
Labels: frontend

#2042 fix flaky test by replacing getBy with findBy
  frontend/src/features/account/components/CreateFirstAdminForm.test.tsx
Labels: tests

#2021 Implemented Model P 2a in typst
  backend/templates/model-p-2a.typ
Labels: typst

#2066 Fix date validation regex to accept October
  frontend/src/utils/dateTime.test.ts
  frontend/src/utils/dateTime.ts
Labels: bug, frontend

#2068 gen-test-election in backend README
  backend/README.md
Labels: documentation

#2069 Show all role-specific DevHomePage links with MSW
  frontend/src/features/dev/components/DevHomePage.tsx
Labels: bug
