Repository kiesraad/abacus, pull requests merged in 2025-01, with the labels that each got.

#702 Polling station create/update validation
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.module.css
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.module.css
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationSelector.tsx
  frontend/app/component/form/polling_station/PollingStationForm.test.tsx
  frontend/app/component/form/polling_station/PollingStationForm.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/lib/i18n/locales/nl/generic.json
  frontend/lib/i18n/locales/nl/polling_station.json
  frontend/lib/ui/CheckboxAndRadio/CheckboxAndRadio.module.css
  frontend/lib/ui/CheckboxAndRadio/ChoiceList.tsx
  frontend/lib/ui/Form/FormLayout.module.css
  frontend/lib/ui/Form/useFormKeyboardNavigation.test.tsx
  frontend/lib/ui/InputField/InputField.module.css
  frontend/lib/ui/InputField/InputField.tsx
  frontend/lib/ui/style/util.css
  frontend/lib/ui/style/variables.css
  frontend/lib/util/form.test.ts
  frontend/lib/util/form.ts
  frontend/lib/util/format.ts
  frontend/lib/util/hook/index.ts
  frontend/lib/util/hook/useForm.ts
  frontend/lib/util/hook/usePreventFormEnterSubmit.test.tsx
  frontend/lib/util/index.ts
Labels: frontend

#789 Added fraction module and apportionment calculation for ≥ 19 seats
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/lib.rs
Labels: backend

#805 Add `axum` to Dependabot ignore rules
  .github/dependabot.yml
Labels: backend

#814 Upgrade to `axum` 0.8
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/authentication/user.rs
  backend/src/bin/abacus.rs
  backend/src/lib.rs
Labels: backend

#791 Upgrade to React Router 7.1.1
  .github/dependabot.yml
  frontend/.ladle/components.tsx
  frontend/README.md
  frontend/app/component/error/Error.tsx
  frontend/app/component/error/ErrorBoundary.tsx
  frontend/app/component/form/data_entry/PollingStationFormController.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.test.tsx
  frontend/app/component/form/data_entry/check_and_save/CheckAndSaveForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.test.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationChoiceForm.tsx
  frontend/app/component/form/data_entry/polling_station_choice/PollingStationLink.tsx
  frontend/app/component/form/user/account_setup/AccountSetupForm.tsx
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/component/pollingstation/PollingStationFormNavigation.tsx
  frontend/app/component/pollingstation/PollingStationProgress.tsx
  frontend/app/main.tsx
  frontend/app/module/AdministratorLayout.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/module/NotAvailableInMock.tsx
  frontend/app/module/RootLayout.tsx
  frontend/app/module/account/LoginLayout.tsx
  frontend/app/module/account/page/UserHomePage.tsx
  frontend/app/module/data_entry/page/CandidatesVotesPage.tsx
  frontend/app/module/data_entry/page/DataEntryHomePage.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.test.tsx
  frontend/app/module/data_entry/polling_station/AbortDataEntryControl.tsx
  frontend/app/module/data_entry/polling_station/PollingStation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.tsx
  frontend/app/module/election/ElectionLayout.tsx
  frontend/app/module/election/OverviewLayout.tsx
  frontend/app/module/election/page/ElectionHomePage.tsx
  frontend/app/module/election/page/ElectionReportPage.tsx
  frontend/app/module/election/page/ElectionStatusPage.tsx
  frontend/app/module/election/page/OverviewPage.tsx
  frontend/app/module/logs/LogsHomePage.tsx
  frontend/app/module/polling_stations/PollingStationsLayout.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationCreatePage.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.tsx
  frontend/app/module/users/UsersHomePage.tsx
  frontend/app/module/workstations/WorkstationsHomePage.tsx
  frontend/app/routes.test.tsx
  frontend/app/routes.tsx
  frontend/lib/test/Providers.tsx
  frontend/lib/test/index.ts
  frontend/lib/test/router.ts
  frontend/lib/test/test-utils.ts
  frontend/lib/ui/AppLayout/StickyNav.tsx
  frontend/lib/ui/Feedback/Feedback.tsx
  frontend/lib/ui/Table/Table.test.tsx
  frontend/lib/ui/Table/Table.tsx
  frontend/lib/ui/util/PageTitle.tsx
  frontend/lib/util/hook/useNumericParam.ts
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#819 remove Playwright app tests in anticipation of simplifying MSW usage
  .github/workflows/build-lint-test.yml
  documentatie/ontwikkelproces/test-tooling.md
  frontend/README.md
  frontend/e2e-tests/app-tests/smoketest.e2e.ts
  frontend/package.json
  frontend/playwright.app.config.ts
Labels: tests

#826 Fix memory-serve documentation in backend README
  backend/README.md
Labels: documentation

#831 Simplify backend fixtures and use API calls in Playwright d2d
  backend/.sqlx/query-1b07320538674e0088dee6d097c8e17f7a098f968d157f16be933d9376dc3a85.json
  backend/fixtures/election_1.sql
  backend/fixtures/election_2.sql
  backend/fixtures/election_3.sql
  backend/fixtures/polling_station_data_entries.sql
  backend/fixtures/polling_station_results.sql
  backend/fixtures/polling_stations.sql
  backend/openapi.json
  backend/src/data_entry/mod.rs
  backend/src/election/mod.rs
  backend/src/election/repository.rs
  backend/src/election/structs.rs
  backend/src/fixtures.rs
  backend/src/lib.rs
  backend/src/polling_station/mod.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  frontend/app/component/form/user/login/LoginForm.tsx
  frontend/app/module/DevHomePage.tsx
  frontend/app/routes.tsx
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/fixtures.ts
  frontend/e2e-tests/dom-to-db-tests/pdf-rendering.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/dom-to-db-tests/zip-download.e2e.ts
  frontend/lib/api/gen/openapi.ts
  frontend/lib/i18n/locales/nl/generic.json
  frontend/playwright.common.config.ts
  frontend/playwright.d2d.config.ts
Labels: tests

#857 Configure Sigrid
  .github/workflows/sigrid-pr-feedback.yml
  .github/workflows/sigrid-publish.yml
  sigrid.yaml
Labels: continuous-integration

#859 Remove sharding from Playwright d2d tests
  .github/workflows/build-lint-test.yml
Labels: continuous-integration

#861 Upgrade to Node.js 22 LTS
  .github/workflows/build-lint-test.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  docker-compose.yml
  frontend/.nvmrc
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.d2d.config.ts
Labels: frontend

#860 Added unit tests following the flowchart
  backend/src/data_entry/status.rs
  documentatie/flowcharts/data-entry-state.md
Labels: backend, tests, rust

#896 adds check that polling station number is larger than 0
  frontend/app/component/form/polling_station/PollingStationForm.test.tsx
  frontend/app/component/form/polling_station/PollingStationForm.tsx
Labels: bug

#880 Added unhappy path unit tests to Status state machine
  backend/src/data_entry/status.rs
Labels: backend, tests, rust

#894 document data exchanges with other systems
  documentatie/softwarearchitectuur/Gegevensuitwisseling-met-andere-systemen.md
Labels: documentation

#897 refactor d2d tests: fixtures, test data and helper functions
  frontend/e2e-tests/dom-to-db-tests/data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/fixtures.ts
  frontend/e2e-tests/dom-to-db-tests/resume-data-entry.e2e.ts
  frontend/e2e-tests/dom-to-db-tests/test-data/request-response-templates.ts
  frontend/e2e-tests/e2e-test-helpers.ts
  frontend/e2e-tests/page-objects/data_entry/AbortInputModalPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DataEntryBasePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/DifferencesPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/NavigationPanelPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/PollingStationChoicePgObj.ts
  frontend/e2e-tests/page-objects/data_entry/RecountedPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/UnsavedChangesModalPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/VotersAndVotesPgObj.ts
  frontend/e2e-tests/page-objects/data_entry/index.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationFormPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListEmptyPgObj.ts
  frontend/e2e-tests/page-objects/polling_station/PollingStationListPgObj.ts
  frontend/e2e-tests/page-objects/status/ElectionReportPgObj.ts
  frontend/e2e-tests/page-objects/status/ElectionStatusPgObj.ts
Labels: tests

#885 Update to Vitest 3
  frontend/app/component/pollingstation/PollingStationFormNavigation.test.tsx
  frontend/app/module/data_entry/polling_station/PollingStationLayout.test.tsx
  frontend/app/module/polling_stations/page/PollingStationUpdatePage.test.tsx
  frontend/lib/api/ApiClient.test.ts
  frontend/lib/test/setup.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Labels: frontend

#901 Remove scroll behaviour style from `reset.css`
  frontend/lib/ui/style/reset.css
Labels: frontend

#904 Use relative paths for static assets
  frontend/index.html
  frontend/lib/ui/style/variables.css
  frontend/static/icon/hex.svg
Labels: frontend

#895 Return final and intermediate apportionment steps
  backend/openapi.json
  backend/src/apportionment/fraction.rs
  backend/src/apportionment/mod.rs
  backend/src/election/structs.rs
  backend/src/lib.rs
  frontend/lib/api/gen/openapi.ts
  frontend/scripts/openapi/generator.ts
Labels: backend

#909 Rename backend to abacus
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi.json
  backend/src/bin/abacus.rs
  backend/src/bin/gen-openapi.rs
  backend/src/eml/util.rs
  backend/tests/data_entries_integration_test.rs
  backend/tests/election_integration_test.rs
  backend/tests/polling_station_integration_test.rs
  backend/tests/shared/mod.rs
  backend/tests/utils/mod.rs
  lefthook.yml
Labels: backend

#918 Frontend build without dev dependencies
  .github/workflows/build-lint-test.yml
  .github/workflows/release.yml
  frontend/app/main.tsx
  frontend/app/types.d.ts
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, frontend, continuous-integration

#763 Test-info en installatiemethode
  documentatie/gebruikersdocumentatie/img/binary-download.jpg
  documentatie/gebruikersdocumentatie/img/build-artifact-1.jpg
  documentatie/gebruikersdocumentatie/img/build-artifact-1.png
  documentatie/gebruikersdocumentatie/img/build-artifact-2.jpg
  documentatie/gebruikersdocumentatie/img/build-artifact-2.png
  documentatie/gebruikersdocumentatie/installeren-en-starten.md
Labels: documentation

#927 Vitest custom matcher toHaveTableContent()
  frontend/app/component/election/status/ElectionStatus.stories.tsx
  frontend/app/component/election/status/ElectionStatus.test.tsx
  frontend/app/module/polling_stations/page/PollingStationListPage.test.tsx
  frontend/lib/test/matchers.test.tsx
  frontend/lib/test/matchers.ts
  frontend/lib/test/setup.ts
  frontend/lib/test/vitest.d.ts
  frontend/lib/ui/Table/Table.test.tsx
Labels: frontend

#935 Replace Tarpaulin by cargo-llvm-cov for coverage
  .github/workflows/codecov.yml
Labels: backend, tests, rust, continuous-integration

#936 Add simple test for DevHomePage
  frontend/app/module/DevHomePage.test.tsx
Labels: frontend
